<!DOCTYPE html>

<html lang="en">


<head>
    <meta name="author" content="Azimerw taddese,Bahiru yimola,Banteamlak Gezahegn,Bedane Deriba,Belayneh Getachew">
    <meta name="discription" content="Matric and college preparation system">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UX-Compatible" content="ie=edge">
    <title>Addis ababa science And Technology</title>
</head>

<body>

    <p>
    <table style="width:100%" background="../../../Resources/images/banners/home_background1.jpg">

        <tr width="100%">
            <td width="20%"><img src="../../../Resources/images/banners/logo.PNG" alt="website logo" width="200"
                    height="auto"></td>
            <td width="75%" style="font-size:xx-large ;font-family:'Times New Roman';">
                <marquee behavior="scroll" width=80%>Matric And College preparation system</marquee>
            </td>
            <td><a href="login.html" style="font-size: x-large;font-family:'Times New Roman';">Login</a></td>
        </tr>
        <tr>
            <td></td>
            <td> <a href="home.html" style="font-size:large ;font-family:'Times New Roman';">Home</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="comingsoon.html" style="font-size:large ;font-family:'Times New Roman';">Books</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="comingsoon.html" style="font-size:large ;font-family:'Times New Roman';">Exams</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="univeristy.html" style="font-size:large ;font-family:'Times New Roman';">Universities</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="news.html" style="font-size:large ;font-family:'Times New Roman';">News</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="advices.html" style=" font-size:large ;font-family:'Times New Roman';">Advices</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="insructors.html" style=" font-size:large ;font-family:'Times New Roman';">Instructors</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="aboutus.html" style="font-size:large ;font-family:'Times New Roman';">About us</a>

            </td>
            <td> </td>
        </tr>
    </table>
    <br>
<center>
</table>
<hr>
</p>
<P>
<table width="80%>">
    <tr>
        <td width="30%">
           <h1 style="color: darkslategrey;">AASTU</h1>
            <img src="../../../Resources/images/banners/AAstu_logo.jpg" width="290" height="auto">
            <br><br><b>Type</b>-State University<br><br>
            <br><br><b>Motto</b>-University for Industry<br><br>
            <b>Established</b>-2011<br><br>
            <b>President</b>-Dereje Engida(Phd)<br><br>
            <b>Students </b> -8000  UG  700 postgraturaduate(2019/20)<br><br>
            <b>Location</b> <address>-Addis Ababa, Ethiopia, Akaky kaliti subcity, Kilinto area.</address>
                
            <br><br>
            <b>Temperature</b>- 9<sup>&#176;</sup>C to 24<sup>&#176;</sup>C  <br><br>
            <b>Campus</b>- one main campuses<br><br>
            <b>Language</b>- English<br><br>
            <b>Website</b>- <a href="http://aastu.edu.et/">aastu.edu.et/</a><br><br>

        </td>
        <td width="50%" height="100%">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img
                src="../../../Resources/images/banners/AAstu_photo.jfif" width="400" height="auto"><br>
            &nbsp;&nbsp;&nbsp;<h3>Addis ababa science And Technology</h3>
            <p>
                <blockquote> <b><abbr title="Addis Ababa Science And Technology University">AASTU</abbr></b> <del>ASTU</del> Established in 2011, Addis Ababa Science and Technology University is a non-profit public
                     higher-education institution located in the metropolis of Addis Ababa (population range 
                     of 1,000,000-5,000,000 inhabitants). Officially recognized by the Ministry of Education of Ethiopia, 
                     Addis Ababa Science and Technology University (AASTU) is a coeducational Ethiopian higher education 
                     institution. Addis Ababa Science and Technology University (AASTU) offers courses and programs leading 
                     to officially recognized higher education degrees such as bachelor degrees in several areas of study. 
                     See the uniRank degree levels and areas of study matrix below for further details. AASTU also provides 
                     several academic and non-academic facilities and services to students including a library, as well as 
                     administrative services</blockquote>
                <hr>
            <h3>Academics</h3>
            <blockquote> <abbr title="Addis Ababa Science And Technology University">AASTU</abbr>is one of Ethiopian University  8000 undergraduate (under regular 
                and continuing education program) and close to 700 postgraduate students under 
                its nine applied sciences, technology, engineering and ICT focused schools. 
                AASTU is a university in the making, and much of its short-term plans aim at establishing academic 
                infrastructures and facilities, staff recruitment and manpower development. 
                So far, we managed to recruit 472 academic staff and 391 administrative staff.</blockquote>
            

            </ul>

            <hr>
            </p>



        </td>

    </tr>
    <tr>
        <td></td>
    <td>
        <h3>Colleges</h3>
            <ul>
                
                <li>College of Architecture and Civil Engineering
                    </li>	
            <ul style="list-style-type:disc;">
            <li>Architecture</li>
            <li>Civil Engineering Department</li>
            <li>Mining Engineering</li></ul>



<li>College of Electrical and Mechanical Engineering</li>

<ul style="list-style-type:disc;"">
<li>Electrical and Computer Engineering</li>
<li>Electromechanical Engineering</li>
<li>Mechanical Engineering</li>
<li>Software Engineering</li>

</ul>
<li>College of Biological and Chemical Engineering college of Applied Science
Biotechnology</li>
<ul style="list-style-type:disc;" >
<li>Chemical Engineering</li>
<li> Environmental Engineering Institute of Land Administration</li>







            </ul>
        <hr>
        

        <p>
           <b> For more information download the pdf 
            <a href="../../../Resources/pdfs/AAstuInfo.pdf">download</a>
           </b>
        </p>
        <br>





    </td>



    </tr>
</table>




</center>
    <hr>
    <table width="100%" background="../../../Resources/images/banners/home_background1.jpg">
        <tr>
            <td width="40%">OUR SERVICES
            </td>
            <td width="30%">
            </td>
            <td width="30%">CONTACT
            </td>
        </tr>
        <tr>
            <td>
                <br>Information about Universities<br>

                Textbooks and referencebooks<br>

                Advices from experianced studets<br>

                Contact University students<br>

                Entrance Exams<br>

            </td>
            <td>
                <br> <br>

                <a href="aboutus.html" style="font-size:large ;font-family:'Times New Roman';">About Us</a>
            </td>
            <td>
                <br>Mob: +251-961098262, +251-946238635<br>
                E-mail: MCP@gmail.com<br>
                P.O.Box:---- <br>
                Location:Addis,Ababa,Ethiopia<br>
                <a href="contactus.html" style=" font-size:large ;font-family:'Times New Roman', serif;">Contact
                    us</a><br>


            </td>
        </tr>



    </table>
</body>

</html>