<!DOCTYPE html>

<html lang="en">


<head>
    <meta name="author" content="Azimerw taddese,Bahiru yimola,Banteamlak Gezahegn,Bedane Deriba,Belayneh Getachew">
    <meta name="discription" content="Matric and college preparation system">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UX-Compatible" content="ie=edge">
    <title>Adigrat university</title>
</head>



<body>

    <p>
    <table style="width:100%" background="../../../Resources/images/banners/home_background1.jpg">

        <tr width="100%">
            <td width="20%"><img src="../../../Resources/images/banners/logo.PNG" alt="website logo" width="200"
                    height="auto"></td>
            <td width="75%" style="font-size:xx-large ;font-family:'Times New Roman';">
                <marquee behavior="scroll" width=80%>Matric And College preparation system</marquee>
            </td>
            <td><a href="login.html" style="font-size: x-large;font-family:'Times New Roman';">Login</a></td>
        </tr>
        <tr>
            <td></td>
            <td> <a href="home.html" style="font-size:large ;font-family:'Times New Roman';">Home</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="comingsoon.html" style="font-size:large ;font-family:'Times New Roman';">Books</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="comingsoon.html" style="font-size:large ;font-family:'Times New Roman';">Exams</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="univeristy.html" style="font-size:large ;font-family:'Times New Roman';">Universities</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="news.html" style="font-size:large ;font-family:'Times New Roman';">News</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="advices.html" style=" font-size:large ;font-family:'Times New Roman';">Advices</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="insructors.html" style=" font-size:large ;font-family:'Times New Roman';">Instructors</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="aboutus.html" style="font-size:large ;font-family:'Times New Roman';">About us</a>

            </td>
            <td> </td>
        </tr>
    </table>
    <hr><br><br>
<center>
</p>
<P>
<table width="80%>">
    <tr>
        <td width="30%">
            <h1 style="color: darkslategrey;">Adigrat university</h1>
            <img src="../../../Resources/images/banners/Adigirat_logo.jfif" width="290" height="auto">
            <br><br><b>Type</b>-National<br><br>

            <b>Established</b>-2011<br><br>


            <b>President</b>-Dr. Zaid Negash<br><br>
            <b>Students </b> 14,000+ (2013/14)<br><br>
            <b>Location</b>
            <address>-Adigrat, Ethiopia</address>
            <br><br>
            <b>Temperature</b>- 12.5<sup>&#176;</sup>C to 24.4<sup>&#176;</sup>C <br><br>
            <b>Campus</b>- urban<br><br>
            <b>Language</b>- English<br><br>
            <b>Website</b>- <a href="http://www.adu.edu.et">www.adu.edu.et</a><br><br>




        </td>
        <td width="50%" height="100%">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img
                src="../../../Resources/images/banners/adigigrate_photo.jfif" width="400" height="auto"><br>
            &nbsp;&nbsp;&nbsp;<h3>Adigrat University</h3>
            <p>
            <blockquote> <b>Adigrat University</b> Adama Science and
                Adigrat University (Tigrinya: ዓዲግራት ዩኒቨርሲቲ) is a residential national university in Adigrat, Tigray
                Region,
                Ethiopia. It is approximately 900 kilometres (560 mi) north of Addis Ababa, Ethiopia.[1][2] The
                Ministry of
                Education admits qualified students to Adigrat University based on their score on the Ethiopian
                Higher
                Education Entrance
                Examination (EHEEE).[3] Facilities at the university's campuses were "completely destroyed" during
                the</blockquote>
            <hr>
            <h3>Academics</h3>
            <blockquote>


                Adigrat University is among the institutions that don't provide data on acceptance rates.
                This might happen because a university has programs
                where an applicant only needs to meet admission requirements to enroll and doesn't necessarily
                competes with others
            </blockquote>


            </ul>

            <hr>
            </p>



        </td>




    </tr>
    <tr>
        <td></td>
        <td>
            <h3>Colleges</h3>
            <ul>

                <li>College of Engineering and Technology</li>
                <li>College of Medicine and Health Science</li>
                <li>College of Social Sciences and Humanities</li>
                <li>College of Business and Economics</li>
                <li>College of Natural and Computational Sciences</li>
                <li>College of Agriculture and Environmental Sciences</li>


            </ul>
            <hr>


            <p>



            </p>

            <br>





        </td>



    </tr>
</table>

</P>

</center>
    <hr>
    <table width="100%" background="../../../Resources/images/banners/home_background1.jpg">
        <tr>
            <td width="40%">OUR SERVICES
            </td>
            <td width="30%">
            </td>
            <td width="30%">CONTACT
            </td>
        </tr>
        <tr>
            <td>
                <br>Information about Universities<br>

                Textbooks and referencebooks<br>

                Advices from experianced studets<br>

                Contact University students<br>

                Entrance Exams<br>

            </td>
            <td>
                <br> <br>

                <a href="aboutus.html" style="font-size:large ;font-family:'Times New Roman';">About Us</a>
            </td>
            <td>
                <br>Mob: +251-961098262, +251-946238635<br>
                E-mail: MCP@gmail.com<br>
                P.O.Box:---- <br>
                Location:Addis,Ababa,Ethiopia<br>
                <a href="contactus.html" style=" font-size:large ;font-family:'Times New Roman', serif;">Contact
                    us</a><br>


            </td>
        </tr>



    </table>
</body>

</html>