<!DOCTYPE html>

<html lang="en">


<head>
    <meta name="author" content="Azimerw taddese,Bahiru yimola,Banteamlak Gezahegn,Bedane Deriba,Belayneh Getachew">
    <meta name="discription" content="Matric and college preparation system">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UX-Compatible" content="ie=edge">
    <title>advices</title>
</head>



<body>

    <p>
    <table style="width:100%" background="../../../Resources/images/banners/home_background1.jpg">

        <tr width="100%">
            <td width="20%"><img src="../../../Resources/images/banners/logo.PNG" alt="website logo" width="200"
                    height="auto"></td>
            <td width="75%" style="font-size:xx-large ;font-family:'Times New Roman';">
                <marquee behavior="scroll" width=80%>Matric And College preparation system</marquee>
            </td>
            <td><a href="login.html" style="font-size: x-large;font-family:'Times New Roman';">Login</a></td>
        </tr>
        <tr>
            <td></td>
            <td> <a href="home.html" style="font-size:large ;font-family:'Times New Roman';">Home</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="comingsoon.html" style="font-size:large ;font-family:'Times New Roman';">Books</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="comingsoon.html" style="font-size:large ;font-family:'Times New Roman';">Exams</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="univeristy.html" style="font-size:large ;font-family:'Times New Roman';">Universities</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="news.html" style="font-size:large ;font-family:'Times New Roman';">News</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="advices.html" style=" font-size:large ;font-family:'Times New Roman';">Advices</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="insructors.html" style=" font-size:large ;font-family:'Times New Roman';">Instructors</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="aboutus.html" style="font-size:large ;font-family:'Times New Roman';">About us</a>

            </td>
            <td> </td>
        </tr>
    </table>
    <hr><br><br>

    <center>
        <table width="80%">
            <tr width="80%">
                <td width="30%"> <h1>ከፍተኛ የፈተና ዝግጅት ምክሮች</h1>
                    
                    <ol>
                        <li><h3>ክለሳዎን ቀደም ብለው ይጀምሩ</h3></li>
                    
                      <p> <stron>በመከለስ ቀደም ብሎ ለመጀመር ምንም ምትክ የለም።</strong>
                    
                    ያጠናችሁትን ሁሉ ለመገምገም ለራስህ በቂ ጊዜ መስጠት አለብህ እና እንደተረዳህ አረጋግጥ (ወይንም ርዕሰ ጉዳዩን ለማንበብ ወይም እየታገልክ 
                    ከሆነ እርዳታ ለመጠየቅ)። የመጨረሻ ደቂቃ መጨናነቅ በጣም ያነሰ ምርታማ ነው።
                    
                    በሐሳብ ደረጃ፣ በሚሄዱበት ጊዜ እያንዳንዱን ርዕሰ ጉዳይ ይገምግሙ፣ እና ይህ ክለሳውን በጣም ቀላል ስለሚያደርገው ሙሉ 
                    በሙሉ እንደተረዱት ያረጋግጡ። በስተመጨረሻ፣ ምርጡ ምክር ጠንክሮ ማጥናት እና ርዕሰ ጉዳይዎን ማወቅ ነው፣ እና ይህን ለማግኘት ቀደም 
                    ብሎ መጀመር በጣም ጥሩው መንገድ ነው።</p>
                    <li>
                       <h3> የጥናት ጊዜዎን ያደራጁ</h3>
    
                    </li>
                    <p>ከሞላ ጎደል አንዳንድ ጉዳዮችን ከሌሎች የበለጠ ቀላል ታገኛላችሁ። እንዲሁም ለአንዳንድ ጉዳዮች ከሌሎች ይልቅ 
                        የሚከልሱት ብዙ ነገሮች እንዳሉዎት ያገኛሉ።እንዲሁም በየቀኑ ለማጥናት መቼ እና ለምን ያህል ጊዜ ለማሳለፍ እንዳሰቡ ማሰቡ ጠቃሚ ነው።
                         በየቀኑ ምን ያህል ጊዜ ማስተዳደር 
                        ይችላሉ? በጥናትዎ ወቅት ሌላ ምን አይነት ቁርጠኝነት አለዎት?
    
                        ጊዜህን በተሻለ ሁኔታ ለመጠቀም እንድትጠቀምበት ክለሳህን አቅድ። ለእርስዎ የቀኑ ምርጥ ሰዓት መቼ ነው - ጥዋት፣ ከ
                        ሰአት ወይም ማታ? በተወሰኑ ጊዜያት የበለጠ ማንበብ ይችላሉ? ይህ እርስዎ ለማድረግ ያሰቡትን ለማቀድ ይረዳዎታል ፣ ምንም እንኳን ሁኔታዎች 
                        ከተለዋወጡ በኋላ ለመላመድ ሁል ጊዜ ተለዋዋጭ መተውዎን ያረጋግጡ።
                    
                    </p>
                <li><h3>በጥናት እና በፈተና ጊዜ እራስዎን ይንከባከቡ</h3></li>
                <p>
                    ጤናማ አመጋገብ ከተመገቡ እና ብዙ እንቅልፍ ካገኙ በተሻለ ሁኔታ መስራት ይችላሉ.
                    
                    ይህ በፈተናዎ ወቅት እና በሚከለሱበት ጊዜ ሁለቱንም ይመለከታል። 
                    ከቆሻሻ ምግብ መትረፍ ጥሩ ሀሳብ አይደለም። በማጥናት ጊዜ አዘውትሮ የአካል ብቃት እንቅስቃሴ ማድረግም ጥሩ ነው። ፈጣን የእግር ጉዞ፣
                     ወይም የበለጠ ጠንካራ የአካል ብቃት እንቅስቃሴ፣ ደምዎ እንዲንቀሳቀስ ያደርግልዎታል እና የበለጠ ትኩረት ማድረግ መቻልዎን ያረጋግጣል።</p>
                
                     <li><h3> የእርስዎን የማሻሻያ ዘዴዎች ይቀይሩ</h3>
                       
    <p><strong>ልዩነት የሕይወት ቅመም ነው ይላሉ, እና በእርግጠኝነት ጥናትዎን ለማሻሻል ይረዳል::</strong>
    
     
    ሁልጊዜ ተመሳሳይ ነገር ማድረግ, ለምሳሌ, በአንድ ርዕሰ ጉዳይ ላይ በማስታወሻዎ ላይ ማንበብ, በጣም አሰልቺ ሊሆን ይችላል. የተለያዩ መልመጃዎችን እና ቴክኒኮችን በመሞከር የክለሳ ጊዜዎን ያሳድጉ። ማስታወሻዎችዎን ለማንበብ አማራጮች የሚከተሉትን ያካትታሉ:
    
    ግንዛቤዎን ለመፈተሽ የመለማመጃ ወረቀቶችን እና ጥያቄዎችን ማድረግ (አስተማሪዎችዎ ወይም አስተማሪዎችዎ እነዚህን በጥሩ ሁኔታ ከጠይቋቸው ለእርስዎ ምልክት በማድረግ በጣም ደስ ይላቸዋል)።
    ማስታወስ የሚችሉትን ለመፈተሽ የአእምሮ ካርታዎችን ወይም ሌሎች የማጠቃለያ ንድፎችን ይሳሉ እና ከዚያ በማስታወሻዎ ላይ ያረጋግጡ። ዝርዝር ጉዳዮችን የት እንዳስቀሩ ወይም ክፍተቶች እንዳሉ አስተውል እና ወደ ኋላ ተመልሰህ እነዚያን ቦታዎች ገምግም። እና
    ከአንዳንድ ጓደኞች ጋር የውይይት ቡድን ማደራጀት, አንድ የተወሰነ ጉዳይ ወይም አካባቢ ግምት ውስጥ ማስገባት::</p>
    
                     </li>
                     <li>
                         <h3>አካባቢዎችዎን ይቀይሩ</h3>
                         <p>
                            የተማርክበትን ቦታ መቀየር ለምሳሌ ክፍልህን፣ ትምህርት ቤት ወይም ኮሌጅ ላይብረሪ፣ ጸጥ ያለ ካፌ 
                            ወይም የሌላ ሰው ቤት መቀየርም ጥሩ ነው።
                            
                            ጥናቶች እንደሚያሳዩት ይህ<strong> የማስታወስ ችሎታን ለማሻሻል</strong> ይረዳል. ለምን እንደሆነ ግልጽ አይደለም, 
                            ነገር ግን ጥቆማው አንጎል ከበስተጀርባ እና በምታጠናው ነገር መካከል ግንኙነቶችን ይፈጥራል: የበለጠ የተለያዩ ግንኙነቶች ነገሮችን 
                            ለማስታወስ ቀላል ያደርገዋል.</p>
                     </li>
                </ol>
    
    </td>
                
                <td width="50%">
                    <ol start="6">
                        <p><img src="../../../Resources/images/banners/Advices.jfif" alt="student at study" width="450"></p>
                                        
                                        <li><h3>ፈተናህን እወቅ</h3>
                        
                                        </li>
                                        <p>
                                            
                        ያለፉትን ወረቀቶች መመልከቱን ያረጋግጡ።
                        
                        ይህ እርስዎ ለሚቀመጡበት የፈተና አይነት፣ ብዙ ምርጫ፣ አጭር መልስ ወይም ድርሰት ዝግጁ መሆንዎን ያረጋግጣል።
                        
                        ምን ማድረግ እንደሚጠበቅብዎት ይወቁ፡ ለምሳሌ ከእያንዳንዱ 
                        ክፍል ምን ያህል ጥያቄዎችን መመለስ ይኖርብዎታል? እርግጥ ነው, አሁንም በወረቀቱ ላይ ያሉትን መመሪያዎች ማንበብ አለብዎት, 
                        እና ተመሳሳይ መሆናቸውን ያረጋግጡ, ነገር ግን ይህ በሚጠበቀው ነገር ላይ ምቾት እንዲሰማዎት ይረዳዎታል.
                        
                        ከሁሉም በላይ ደግሞ ትክክለኛውን የጥያቄዎች አይነት መለማመዳችሁን አረጋግጡ እና ከ'ጥሩ' እና 'መጥፎ' መልስ ምን እንደሚጠበቅ ይወቁ።
                                        </p>
                        
                                        <li><h3>ስለፈተናዎ ተግባራዊ ዝርዝሮችን ማወቅዎን ያረጋግጡ</h3></li>
                                        <p>
                                            
                                            
                                            የት ነው የሚካሄደው?
                                            ምን ሰዓት ይጀምራል, እና መቼ እዚያ መድረስ ያስፈልግዎታል?
                                            የተወሰነ ርቀት መጓዝ ካለብዎ ስንት ሰዓት መውጣት ያስፈልግዎታል?
                                            ከእርስዎ ጋር ምን መውሰድ ያስፈልግዎታል?
                                            እንዲሁም የሆነ ችግር ከተፈጠረ ምን ማድረግ እንዳለቦት ማወቅዎን ያረጋግጡ። 
                                            ለምሳሌ በእለቱ ታምማለህ ወይም በጉዞ ላይ ልትቆም ትችላለህ እና ማንን እንደምታገኝ ማወቅ አለብህ።</p>
                                    </ol>
                    </td>
            </tr>
            <tr width="80%">
                
                <td width="30%">
                    <br> <br><br> <br><br> <br><br><br><br><br>
    
                    <hr><h3 style="color: darkslategrey;"><u>ለፍሬሾች </u></h3>
                    <img src="../../../Resources/images/banners/AAU_Advices photo.jfif"
                        width="500"></td>
                <td width="30%"><hr>
                    <h2>Hiwot
                        From AAU</h2>
                    <p>
                        ሰላም Hiwot ነኝ ከAAU
                        አንደኛ አመት ተማሪዎች ውጤታማ መሆን ከፈለጉ ከአሁኑ ሞጅሎችን በራሳቸው አረዳድ ማንበብ መጀመር አለባቸው እንጂ በዚህ
                        ሰዓት ሌክቸረር እየጠበቁ መማር አያዋጣም ምክንያቱም ሌክቸረሮች ቀስ ብለው ማስተማር ይጀምሩና ልክ ሴሚስተሩ ሊያልቅ ሁለት ሳምንት ምናምን ሲቀረው የቀሩትን
                        chapterች reading assigment ብለው ይሰጣሉ ይሄ ደግሞ አስተማሪ እየጠበቁ የሚያጠናውን ተማሪ ይበልጥ ይጎዳል</p>
                </td>
            </tr>
            <tr width="80%">
                <td width="30%">
                    <h2>Mahi </h2>
                    <p>
                        ሰላም m ነኝ እንደት ናችሁ እኔ ለአድስ ገቢ ተማሪዎች የምሠጠው ምክር በሚያነቡበት ግዜ በደንብ አድርገው ሀንድአውት ብቻ ቢያነቡ በእርግጠኝነት ጥሩ
                        ውጤት ይሰራሉ ከሀንድአውትውጭ የሚወጣ ጥያቄ የለም በተለይ ፍሬሽማን ኮርስ ላይ እንደኔ ግንዛቤ ለብቻ በደንብ ማንበብእመርጣለሁ እየተጠያየቅን ብናነብ ይሻላል
                        እሚሉ ተማሪዎች አሉ በእርግጥ ይህ ጥሩ ቢሆንም መጀመሪያ አንብቦ ከተረዳው ቡሀላ ቢጠያየቁ አሪፍ ነው ደግሞ በምታነቡ ግዜ ሞጅል ላይ ያለ ነገር ቀላል ነው
                        ብላችሁ አትለፉ ዋጋ ያሥከፍላችዃል በፊት ተምሬዋለሁ አቀዋለሁ እሚባል ነገር በጣም ነው እሚጎዳው ምክንያቱም ኮርሱ ላይ ያሉት አብዛሀኞቹ ታች ክላሥ የተማራችሁት
                        ሥለሆነ ቀላል ሊመሥላችሁ
                        ይችላል ፈተና በምትሰሩበት ግዜ ደግሞ ጥያቄውን በደንብ ለመረዳት ሞክሩ ምክንያቱም አንድ ፊደል ታሥበላለች በተረፈ ማንበብ ነው በተለይ ፍሬሽማን ኮርስ ላይ
                        እመረጣችሁት
                        ፊልድ እንድትገቡ።
                    <h3>ለፍሬሾች <strong>እኔ በተሳሳትኩበት እንዳትሳሳቱ ትንሽ ነገር ላካፍላችሁ።</strong></h3>
    
                    <ol>
                        <li> 
                            የምትፈልጉትን ነገር ማግኘት ትፈልጋላችሁ ፥ እንግዲያውስ ውጤት መስራት ያስፈልጋችኋል</li>
                             
                             <p>አሁን ያላችሁበትን ጊዜ ተጠቀሙበት።Fresh man courseኦች ለማንበብ ብዙም አስቸጋሪ ስላልሆኑ ባላችሁ ጊዜ አየት አየት
                                  ብታደርጓቸው አይከፋም። ምክንያቱም ገና ክላስ ከመጀመሩ quize የሚል አስተማሪ አይጠፋም። በ quizeና በትናንሽ ፈተናዎች 
                                  የተጠረቃቀመ ውጤት ጥቅሙ ያኔ ስታዩት ይገባችኋል።</p>
                            
                             <LI>ጊቢ ስትገቡ ደሞ:</LI>
                            <p> #ብዙሃኑ_ስላደረጉት_ብቻ_እናንተም_የምታደርጉት_ነገር_አይኑር። Dorm mate ፍቅረኛ ስላለው/ስላላት ብቻ እናንተም ፍቅረኛ ቢኖረኝስ  ብላችሁ ልባችሁ በከንቱ እንዳይዳክር። #ሰው_አይተህ_ከገባህበት_ነገር_ሰው_አይተህ_ትወጣለህ።  pointe ምን መሰላችሁ በሰው ግፊት ጊዜያችሁን የሚሻማ ነገር ውስጥ አትግቡ።አንብቡ።  
                                   
                             በሁሉም ነገር የራሳችሁ አቋም ይኑራችሁ። ብትችሉ በወረቀት or በማስታወሻ ፅፋችሁ ያዙት።ይጠቅማችኋል።
                            ትምህርት ሲጀመር :
                            ከስር ከስር ማንበብን ብትለምዱ አሪፍ ነው።ቀን ላይ የተማርኩትን ነገር ማታ ደግሜ ሳየው እንዳይረሳ ሆኖ ሜሞራይዝ የመሆን እድሉ ሰፊ ነው። ግን ዛሬ ተምሬ ከከረመ በኃላ የምመለስበት ነገር ሁለት ድካም ሲሆንብኝ አስተውዬ አውቃለሁ: አስተማሪው ያለውን already ረስቸዋለሁ እንደአዲስ ማንበብ አለብኝ ፣ ጊዜም ይወስድብኛል......ከስር ከስር እዩት በቃ።
                            
                            ያላችሁበትንም ይሁን የሌላ ጊቢ ጥያቄዎች ከመስራት ወደኃላ እንዳትሉ። ጥቂት አንብባችሁ ብዙ ጥያቄ ብትሰሩ ታተርፋላችሁ::</p>
                    </ol>
                    </p>
                </td>
                <td width="50%"><img src="../../../Resources/images/banners/AAU_photoo.jfif" width="500">
                </td>
            </tr>
            </td>
            </tr>
            
    
        </table>
    </center>











    <hr>
    <table width="100%" background="../../../Resources/images/banners/home_background1.jpg">
        <tr>
            <td width="40%">OUR SERVICES
            </td>
            <td width="30%">
            </td>
            <td width="30%">CONTACT
            </td>
        </tr>
        <tr>
            <td>
                <br>Information about Universities<br>

                Textbooks and referencebooks<br>

                Advices from experianced studets<br>

                Contact University students<br>

                Entrance Exams<br>

            </td>
            <td>
                <br> <br>

                <a href="aboutus.html" style="font-size:large ;font-family:'Times New Roman';">About Us</a>
            </td>
            <td>
                <br>Mob: +251-961098262, +251-946238635<br>
                E-mail: MCP@gmail.com<br>
                P.O.Box:---- <br>
                Location:Addis,Ababa,Ethiopia<br>
                <a href="contactus.html" style=" font-size:large ;font-family:'Times New Roman', serif;">Contact
                    us</a><br>


            </td>
        </tr>



    </table><br>
</body>

</html>