<!DOCTYPE html>

<html lang="en">


<head>
    <meta name="author" content="Azimerw taddese,Bahiru yimola,Banteamlak Gezahegn,Bedane Deriba,Belayneh Getachew">
    <meta name="discription" content="Matric and college preparation system">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UX-Compatible" content="ie=edge">
    <title>Ambo University</title>
</head>



<body>

    <p>
    <table style="width:100%" background="../../../Resources/images/banners/home_background1.jpg">

        <tr width="100%">
            <td width="20%"><img src="../../../Resources/images/banners/logo.PNG" alt="website logo" width="200"
                    height="auto"></td>
            <td width="75%" style="font-size:xx-large ;font-family:'Times New Roman';">
                <marquee behavior="scroll" width=80%>Matric And College preparation system</marquee>
            </td>
            <td><a href="login.html" style="font-size: x-large;font-family:'Times New Roman';">Login</a></td>
        </tr>
        <tr>
            <td></td>
            <td> <a href="home.html" style="font-size:large ;font-family:'Times New Roman';">Home</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="comingsoon.html" style="font-size:large ;font-family:'Times New Roman';">Books</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="comingsoon.html" style="font-size:large ;font-family:'Times New Roman';">Exams</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="univeristy.html" style="font-size:large ;font-family:'Times New Roman';">Universities</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="news.html" style="font-size:large ;font-family:'Times New Roman';">News</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="advices.html" style=" font-size:large ;font-family:'Times New Roman';">Advices</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="insructors.html" style=" font-size:large ;font-family:'Times New Roman';">Instructors</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="aboutus.html" style="font-size:large ;font-family:'Times New Roman';">About us</a>

            </td>
            <td> </td>
        </tr>
    </table>
    <hr><br><br>
<center>
</table>
<table width="80%>">
    <tr>
        <td width="30%">
            <h1>Ambo University</h1>
            <img src="../../../Resources/images/banners/ambo_logo.JFIF" width="200" height="auto">
            <br><br><b>Type</b>-Public<br><br>
            <b>Location</b> -Ambo, Ethiopia<br><br>
            <b>Temperature</b>- 18°c / 64°f .<br><br>
            <b>Language</b>- English<br><br>
            <b>Website</b>- www.ambou.edu.et<br><br>

        </td>
        <td width="50%" height="100%">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img
                src="../../../Resources/images/banners/ambo_photo.JFIF" width="500" height="auto"><br>
            &nbsp;&nbsp;&nbsp;<h3>Ambo University</h3>
            <p>
                <b>Ambo University</b> (Amharic: አምቦ ዩኒቨርሲቲ; Oromo: Yunivarsiitii Amboo) is a university in Ambo, Oromia, Ethiopia. 
                It is approximately 119 kilometres (74 mi) west of Addis Ababa, Ethiopia. The Ministry of Education admits
                 qualified students to Ambo University based on their score on the Ethiopian Higher Education Entrance Examination (EHEEE). Ambo University was established on 11 May 2011 by government 
                proclamation (Council of Ministers 212/2011).</p><p>
                It is one of the foremost higher learning institutions with significant contributions in the country's
                 overall development by building the capacity of development agents through short, medium and long term trainings in various fields since its establishment
                  in 1939. After passing through various developmental stages, it has recently become independent with a status of a university organized into five colleges, three institutes and 
                two schools with 38 academic departments
            <hr>
            </p>

        </td>

    </tr>
    <tr><td></td>
    <td>
        <h3>Program and Courses</h3>
        <ul>
            <li>Bachelor of Science in Accounting(Accounting)</li>
            <li>Bachelor of Economics</li>
            <li>bachelor of Marketing</li>s
            <li>Bachelor of Law</li>
            <li>Bachelor of Science Education (Physical Education)</li>
            <li>Bachelor of Science in Statistics(Statistics)</li>
            <li>Bachelor of Pharmacy(Pharmacy)</li>
        </ul>
        <hr>
        <h3>Faculties and Schools</h3>
        <ul>
            <li> College of Social Sciences and Humanities.</li>
            <li> College of Natural & Computational Sciences.</li>
            <li> Colleges of Agriculture & Veterinary Sciences.</li>
            <li> College of Business & Economics>.</li>
            <li> College of Medicine & Health Sciences.</li>
        </ul><br>





    </td>



    </tr>
</table>

</center>
    <hr>
    <table width="100%" background="../../../Resources/images/banners/home_background1.jpg">
        <tr>
            <td width="40%">OUR SERVICES
            </td>
            <td width="30%">
            </td>
            <td width="30%">CONTACT
            </td>
        </tr>
        <tr>
            <td>
                <br>Information about Universities<br>

                Textbooks and referencebooks<br>

                Advices from experianced studets<br>

                Contact University students<br>

                Entrance Exams<br>

            </td>
            <td>
                <br> <br>

                <a href="aboutus.html" style="font-size:large ;font-family:'Times New Roman';">About Us</a>
            </td>
            <td>
                <br>Mob: +251-961098262, +251-946238635<br>
                E-mail: MCP@gmail.com<br>
                P.O.Box:---- <br>
                Location:Addis,Ababa,Ethiopia<br>
                <a href="contactus.html" style=" font-size:large ;font-family:'Times New Roman', serif;">Contact
                    us</a><br>


            </td>
        </tr>



    </table>
</body>

</html>