<!DOCTYPE html>

<html lang="en">


<head>
    <meta name="author" content="Azimerw taddese,Bahiru yimola,Banteamlak Gezahegn,Bedane Deriba,Belayneh Getachew">
    <meta name="discription" content="Matric and college preparation system">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UX-Compatible" content="ie=edge">
    <title>Bahir Dar University</title>
</head>



<body>

    <p>
    <table style="width:100%" background="../../../Resources/images/banners/home_background1.jpg">

        <tr width="100%">
            <td width="20%"><img src="../../../Resources/images/banners/logo.PNG" alt="website logo" width="200"
                    height="auto"></td>
            <td width="75%" style="font-size:xx-large ;font-family:'Times New Roman';">
                <marquee behavior="scroll" width=80%>Matric And College preparation system</marquee>
            </td>
            <td><a href="login.html" style="font-size: x-large;font-family:'Times New Roman';">Login</a></td>
        </tr>
        <tr>
            <td></td>
            <td> <a href="home.html" style="font-size:large ;font-family:'Times New Roman';">Home</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="comingsoon.html" style="font-size:large ;font-family:'Times New Roman';">Books</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="comingsoon.html" style="font-size:large ;font-family:'Times New Roman';">Exams</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="univeristy.html" style="font-size:large ;font-family:'Times New Roman';">Universities</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="news.html" style="font-size:large ;font-family:'Times New Roman';">News</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="advices.html" style=" font-size:large ;font-family:'Times New Roman';">Advices</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="insructors.html" style=" font-size:large ;font-family:'Times New Roman';">Instructors</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="aboutus.html" style="font-size:large ;font-family:'Times New Roman';">About us</a>

            </td>
            <td> </td>
        </tr>
    </table>
    <hr><br><br>
<center>
</table>
<table width="80%>">
    <tr>
        <td width="30%">
            <h1>Bahir Dar University</h1>
            <img src="../../../Resources/images/banners/bdu_logo.jpg" width="290" height="auto">
            <br><br><b>Type</b>-Public<br><br>
            <b>Established</b>- 1954 (as polytechnic college) 2001 (as university)<br><br>
            <b>Established</b>- Firew Tegegne Amogne<br><br>
            <b>Students </b> -54,000 students (2018)<br><br>
            <b>Location</b> -Bahir Dar, Amhara, Ethiopia<br><br>
            <b>Temperature</b>- www.bdu.edu.<br><br>
            <b>Campus</b>- 8 campuses<br><br>
            <b>Language</b>- English<br><br>
            <b>Website</b>- www.bdu.edu.<br><br>

        </td>
        <td width="50%" height="100%">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img
                src="../../../Resources/images/banners/bdu.jpg" width="400" height="auto"><br>
            &nbsp;&nbsp;&nbsp;<h3>Bahir Dar University</h3>
            <p>
                <b>Bahir Dar University</b> (Amharic: ባሕር ዳር ዩኒቨርስቲ) is a university in the city of Bahir Dar, the
                capital of the Amhara Region in Ethiopia. The University is a combination of two smaller institutes
                formed earlier, after the departments were gradually raised to a degree level starting from 1996.
                The official slogan of the university is "Wisdom at the source of the Blue Nile"The University is
                composed of five colleges, four institutes, seven faculties, two academies and two schools.
                <hr>
            <h3>Academics</h3>
            The University projects an enrollment of over 53,000 students in the academic year beginning in October
            2015. As of 2016, the university enrolled 52,830 students.
            

            </ul>

            <hr>
            </p>



        </td>




    </tr>
    <tr>
        <td></td>
    <td>
        <h3>Institutes</h3>
            <ul>
                <li> Bahir Dar Institute of Technology</li>
                <li> Ethiopian Institutes of Textile and Fashion Technology</li>
                <li> Institute of Land Administration</li>
            </ul>
        <hr>
        <h3>Colleges</h3>
        <ul>
            <li> College of Agriculture and Environmen</li>
            <li> College of Medicine and Health Sciences</li>
            <li> College of Business and Economics</li>
            <li> College of Natural sciences</li>
        </ul>
        <hr>
        <h3>Schools</h3>
        <ul>
            <li> School of Law, School of Earth Sciences</li>
            <li> School of Computing and Electrical Engineering</li>
            <li>School of Civil and Water Resources Engineering</li>
            <li> School of Mechanical and Industrial Engineering</li>
            <li> School of Chemical and Food Engineering</li>
        </ul><br>





    </td>



    </tr>
</table>

</center>
    <hr>
    <table width="100%" background="../../../Resources/images/banners/home_background1.jpg">
        <tr>
            <td width="40%">OUR SERVICES
            </td>
            <td width="30%">
            </td>
            <td width="30%">CONTACT
            </td>
        </tr>
        <tr>
            <td>
                <br>Information about Universities<br>

                Textbooks and referencebooks<br>

                Advices from experianced studets<br>

                Contact University students<br>

                Entrance Exams<br>

            </td>
            <td>
                <br> <br>

                <a href="aboutus.html" style="font-size:large ;font-family:'Times New Roman';">About Us</a>
            </td>
            <td>
                <br>Mob: +251-961098262, +251-946238635<br>
                E-mail: MCP@gmail.com<br>
                P.O.Box:---- <br>
                Location:Addis,Ababa,Ethiopia<br>
                <a href="contactus.html" style=" font-size:large ;font-family:'Times New Roman', serif;">Contact
                    us</a><br>


            </td>
        </tr>



    </table>
</body>

</html>