<!DOCTYPE html>

<html lang="en">


<head>
    <meta name="author" content="Azimerw taddese,Bahiru yimola,Banteamlak Gezahegn,Bedane Deriba,Belayneh Getachew">
    <meta name="discription" content="Matric and college preparation system">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UX-Compatible" content="ie=edge">
    <title>Coming Soon</title>
</head>



<body>

    <p>
    <table style="width:100%" background="../../../Resources/images/banners/home_background1.jpg">

        <tr width="100%">
            <td width="20%"><img src="../../../Resources/images/banners/logo.PNG" alt="website logo" width="200"
                    height="auto"></td>
            <td width="75%" style="font-size:xx-large ;font-family:'Times New Roman';">
                <marquee behavior="scroll" width=80%>Matric And College preparation system</marquee>
            </td>
            <td><a href="login.html" style="font-size: x-large;font-family:'Times New Roman';">Login</a></td>
        </tr>
        <tr>
            <td></td>
            <td> <a href="home.html" style="font-size:large ;font-family:'Times New Roman';">Home</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="comingsoon.html" style="font-size:large ;font-family:'Times New Roman';">Books</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="comingsoon.html" style="font-size:large ;font-family:'Times New Roman';">Exams</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="univeristy.html" style="font-size:large ;font-family:'Times New Roman';">Universities</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="news.html" style="font-size:large ;font-family:'Times New Roman';">News</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="advices.html" style=" font-size:large ;font-family:'Times New Roman';">Advices</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="insructors.html" style=" font-size:large ;font-family:'Times New Roman';">Instructors</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="aboutus.html" style="font-size:large ;font-family:'Times New Roman';">About us</a>

            </td>
            <td> </td>
        </tr>
    </table>
    <hr><br><br>
    <center>
 <h1>working on......</h1>
 <img src="../../../Resources/images/banners/coming_soon.jpg" alt="website logo" width="200"
                    height="auto">
    </center>
    <hr>
    <table width="100%" background="../../../Resources/images/banners/home_background1.jpg">
        <tr>
            <td width="40%">OUR SERVICES
            </td>
            <td width="30%">
            </td>
            <td width="30%">CONTACT
            </td>
        </tr>
        <tr>
            <td>
                <br>Information about Universities<br>

                Textbooks and referencebooks<br>

                Advices from experianced studets<br>

                Contact University students<br>

                Entrance Exams<br>

            </td>
            <td>
                <br> <br>

                <a href="aboutus.html" style="font-size:large ;font-family:'Times New Roman';">About Us</a>
            </td>
            <td>
                <br>Mob: +251-961098262, +251-946238635<br>
                E-mail: MCP@gmail.com<br>
                P.O.Box:---- <br>
                Location:Addis,Ababa,Ethiopia<br>
                <a href="contactus.html" style=" font-size:large ;font-family:'Times New Roman', serif;">Contact
                    us</a><br>


            </td>
        </tr>



    </table><br>
</body>

</html>