<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="free student assistance" />
    <meta name="keywords" content="HTML, CSS, JS" />
    <meta
      name="author"
      content="Belayneh, Bahiru, azimeraw, Bantamlak, Bedane"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="form_style.css" />
    <title>MCP</title>
  </head>
  <body background="../../../Resources/images/banners/reg_background.jpg">
    <div class="container">
     <section class="section">
         <header>
      <h3>Register</h3>
      <h4>Please fill your information in this form</h4>
    </header>
     <main>
      <form id="form" class="form" autocomplete="off">
        <div class="form-control">
          First name:
          <input type="text" id="fname" name="fname" placeholder="enter first name here" required/>
          <small>Error message</small>
        </div>
        <div class="form-control">
          Last name:
          <input type="text" id="lname" name="lname" placeholder="enter last name here" required/><br />
          <small>Error message</small>
        </div>
        <div>
          Gender:
          <input type="radio" id="gender" name="gender" required/>male
          <input type="radio" id="gender" name="gender" required />female
        </div>&nbsp;&nbsp;
        <div class="form-control">
          <label for="email">Email:</label>
          <input type="text" id="email" placeholder="Email" required />
          <small>Error message</small>
        </div>
        <div class="form-control">
          <label for="password">Password:</label>
          <input type="password" id="password" placeholder="Password" required/>
          <small>Error message</small>
        </div>
        <div class="form-control">
          <label for="psw">Confirm:</label>
          <input type="password" id="psw" placeholder="confirim" />
          <small>Error message</small>
      
        <button type="submit" id="submit">Submit</button>
      <input id="reset" style="font-size: large" type="reset" />
       
       </form> 
       </main>
        <footer>
      <p>Already have an account? <a href="#">Login</a></p>
    </footer>
    <i class="wave"></i>
  </section>
</div>
<script src="form_script.js"></script>
  </body>
</html>
