<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="free student assistance">
        <meta name="keywords" content="HTML, CSS, JS">
        <meta name="author" content="Belayneh, Bahiru, azimeraw, Bantamlak, Bedane">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> MCP </title>
</head>
<body background="../../../Resources/images/banners/reg_background.jpg">
<form id="login" action="step1.html" method="post">
    <img src="../../../Resources/images/banners/logo.png" alt="logo" width="15%" height="auto">
    <table>
        <tr>
            <td>
    <pre>
        <p style="font-size:large ;font-family:'Times New Roman'">       <b style="font-size:x-large ;font-family:'Times New Roman'">   Forgot Username?</b> Enter your email address<br>
            Just enter the email address used to create your MCP account below. 
            We'll send your username to you right away.</p>
        <label style="font-size:large ;font-family:'Times New Roman'">Email address:</label> <input type="email" id="name" name="name" placeholder="name@domain.com" required> <input style="font-family:'Times New Roman'" type="submit" value="send">       
        
        </pre>
    </td>
    <td>
    <pre>
        <p style="font-size:large ;font-family:'Times New Roman'">       <b style="font-size:x-large ;font-family:'Times New Roman'">   Forgot Password?</b> <br>
            Enter the username and email address you used to create your MCP account</p>
       <label for="username" style="font-size:large;font-family:'Times New Roman'">Username: </label> <input type="text" id="username" name="username" required maxlength=20 minlength=6>  <label style="font-size:large ;font-family:'Times New Roman'">Email address:</label> <input type="email" id="name" name="name" placeholder="name@domain.com" required> <input style="font-family:'Times New Roman'" type="submit" value="send">       
        
        </pre>
    </td>
        </tr>
    </table>
</form>
</body>
</html>