<!DOCTYPE html>

<html lang="en">


<head>
    <meta name="author" content="Azimerw taddese,Bahiru yimola,Banteamlak Gezahegn,Bedane Deriba,Belayneh Getachew">
    <meta name="discription" content="Matric and college preparation system">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UX-Compatible" content="ie=edge">
    <title>Matric And College preparation system</title>
</head>



<body>

    <p>
    <table style="width:100%" background="../../../Resources/images/banners/home_background1.jpg">

        <tr width="100%">
            <td width="20%"><img src="../../../Resources/images/banners/logo.PNG" alt="website logo" width="200"
                    height="auto"></td>
            <td width="75%" style="font-size:xx-large ;font-family:'Times New Roman';">
                <marquee behavior="scroll" width=80%>Matric And College preparation system</marquee>
            </td>
            <td><a href="login.html" style="font-size: x-large;font-family:'Times New Roman';">Login</a></td>
        </tr>
        <tr>
            <td></td>
            <td> <a href="#home.html" style="font-size:large ;font-family:'Times New Roman';">Home</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="comingsoon.html" style="font-size:large ;font-family:'Times New Roman';">Books</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="comingsoon.html" style="font-size:large ;font-family:'Times New Roman';">Exams</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="univeristy.html" style="font-size:large ;font-family:'Times New Roman';">Universities</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="news.html" style="font-size:large ;font-family:'Times New Roman';">News</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="advices.html" style=" font-size:large ;font-family:'Times New Roman';">Advices</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="insructors.html" style=" font-size:large ;font-family:'Times New Roman';">Instructors</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="aboutus.html" style="font-size:large ;font-family:'Times New Roman';">About us</a>

            </td>
            <td> </td>
        </tr>
    </table>
    <hr><br><br>
    <center>
        <table width="90%" height="1000">
            <tr width="90%">
                <td width="30%" height="50%">
                    <table border="0">
                        <tr>
                            <td>
                                <a href="addis_ababa_science_and_technology_university.html"> <img
                                        src="../../../Resources/images/banners/AAstu_photo.jfif" width="350"
                                        height="auto"></a><br>
                                <ul style="font-family:'Trebuchet MS';"> <a
                                        href="addis_ababa_science_and_technology_university.html">
                                        <h3>Addis Ababa Science and Technology University</h3>
                                    </a>
                                    <brs>
                                        <li>The concept of Addis Ababa Science and Technology University had a direct
                                            and reasonable connection with the Five-Year Growth and Transformation Plan
                                            (2010-2015) of the government of the Federal Democratic Republic of Ethiopia
                                        </li>

                                </ul>
                                </a>
                            </td>
                        </tr>
                    </table>

                <td width="30%" height="50%">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="news.html">
                        <h2>Breaking news Regarding to Grade 12 National Exam</h2>
                    </a><br>
                    <a href="news.html"> <img src="../../../Resources/images/banners/grade_12.jpg" width="100%"
                            height="auto" alt="grade_12 students"></a><br>
                    <h3>ለተከበራችሁ የ2013 የዩኒቨርሲቲ መግቢያ ፈተና ተፈታኝ ተማሪዎች</h3>
                    የሀገር አቀፍ የትምህርት ምዘናና ፈተናዎች ኤጀንሲ የሕዝብ ግንኙነት ዳይሬክተር ረዲ ሽፋ "ፈተናው ገና እየታረመ" መሆኑን ገልጸዋል።የፈተናው ውጤት የሚገለጽበት
                    ጊዜ አለመወሰኑንም ነግረውናል።
                    "የፈተናው ውጤት በዚህ ቀን ይገለጻል ተብሎ የተቀመጠ ቀነ ገደብ የለም። ስለዚህ በዚህ ቀን ይፋ ይደረጋል ልንል አንችልም" ብለዋል ዳይሬክተሩ።የጸጥታ ችግር
                    ባለባቸው አካባቢዎች ለፈተናው ያልተቀመጡ ተማሪዎች ከአንድ ወር በኋላ ፈተናውን እንዲወስዱ ይደረጋል ተብሎ የነበረ ቢሆንም አሁን ባለው ሁኔታ ፈተናውን መስጠት
                    እንደማይቻል ገልጸዋል።
                    አካባቢዎቹ ገና እየተረጋጉ መሆኑን የገለጹት ኃላፊው ተማሪዎቹ ፈተናውን ለመውሰድ በስነ ልቦና መዘጋጀት እንደሚያስፈልጋቸው ጠቁመዋል።


                </td>
                <td width="30%" height="50%">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="advices.html"> <img src="../../../Resources/images/banners/advice_home.jpg" width="300"
                            height="auto" alt="advices,tips,.."></a><br>
                    <a href="advices.html">
                    <h3>ከፍተኛ የፈተና ዝግጅት ምክሮች</h3>
                    </a>
                    <ol style="font-family:'Trebuchet MS';">

                        <li>ክለሳዎን ቀደም ብለው ይጀምሩ</li>
                        <li>የጥናት ጊዜዎን ያደራጁ</li>
                        <li>በጥናት እና በፈተና ጊዜ እራስዎን ይንከባከቡ</li>
                        <li> የእርስዎን የማሻሻያ ዘዴዎች ይቀይሩ</li>
                        <li>አካባቢዎችዎን ይቀይሩ</li>
                        <li>ፈተናህን እወቅ</li>
                        <li>ስለፈተናዎ ተግባራዊ ዝርዝሮችን ማወቅዎን ያረጋግጡ</li>

                    </ol>

                </td>

            </tr>

            <tr>
                <td width="30%" height="50%">
                    <a href="insructors.html"> <img src="../../../Resources/images/banners/instrocturs.jpg" width="300"
                            height="auto" alt="instocturs"></a><br>
                    <p> <a href="insructors.html">
                            <h3> አስጠኚ ይፍልጋሉ???</h3>
                        </a>
                    </p>

                </td>
                <td width="30%" height="50%">
                    <table border="0">
                        <tr>
                            <td>

                                <a href="bahirdar_university.html"> <img src="../../../Resources/images/banners/bdu.jpg"
                                        width="400" height="auto"></a><br>
                                <ul style="font-family:'Trebuchet MS';">
                                    <a href="bahirdar_university.html">
                                        <h3>Bahirdar University</h3>
                                    </a>
                                    <li>The University projects an enrollment of over 53,000 students in the academic
                                        year beginning in October 2015. As of 2016, the university enrolled 52,830
                                        students</li>
                                    <li>Bahir Dar University is organized into Faculty, Colleges, Institutes, Schools,
                                        and Academy</li>

                                </ul>
                                </a>
                            </td>
                        </tr>
                    </table>

                </td>
                <td width="30%" height="50%">
                   <a href="comments.html"> <img src="../../../Resources/images/banners/comment.gif" width="300"
                    height="auto" alt="instocturs"></a>
                    <a href="comments.html">
                    <h4> Leave comment here<h4></a>




                </td>

            </tr>

        </table>

    </center>
    <hr>
    <table width="100%" background="../../../Resources/images/banners/home_background1.jpg">
        <tr>
            <td width="40%">OUR SERVICES
            </td>
            <td width="30%">
            </td>
            <td width="30%">CONTACT
            </td>
        </tr>
        <tr>
            <td>
                <br>Information about Universities<br>

                Textbooks and referencebooks<br>

                Advices from experianced studets<br>

                Contact University students<br>

                Entrance Exams<br>

            </td>
            <td>
                <br> <br>

                <a href="aboutus.html" style="font-size:large ;font-family:'Times New Roman';">About Us</a>
            </td>
            <td>
                <br>Mob: +251-961098262, +251-946238635<br>
                E-mail: MCP@gmail.com<br>
                P.O.Box:---- <br>
                Location:Addis,Ababa,Ethiopia<br>
                <a href="contactus.html" style=" font-size:large ;font-family:'Times New Roman', serif;">Contact
                    us</a><br>


            </td>
        </tr>



    </table><br>
</body>

</html>