<!DOCTYPE html>

<html lang="en">


<head>
    <meta name="author" content="Azimerw taddese,Bahiru yimola,Banteamlak Gezahegn,Bedane Deriba,Belayneh Getachew">
    <meta name="discription" content="Matric and college preparation system">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UX-Compatible" content="ie=edge">
    <title>Instrocturs</title>
</head>



<body>

    <p>
    <table style="width:100%" background="../../../Resources/images/banners/home_background1.jpg">

        <tr width="100%">
            <td width="20%"><img src="../../../Resources/images/banners/logo.PNG" alt="website logo" width="200"
                    height="auto"></td>
            <td width="75%" style="font-size:xx-large ;font-family:'Times New Roman';">
                <marquee behavior="scroll" width=80%>Matric And College preparation system</marquee>
            </td>
            <td><a href="login.html" style="font-size: x-large;font-family:'Times New Roman';">Login</a></td>
        </tr>
        <tr>
            <td></td>
            <td> <a href="home.html" style="font-size:large ;font-family:'Times New Roman';">Home</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="comingsoon.html" style="font-size:large ;font-family:'Times New Roman';">Books</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="comingsoon.html" style="font-size:large ;font-family:'Times New Roman';">Exams</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="univeristy.html" style="font-size:large ;font-family:'Times New Roman';">Universities</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="news.html" style="font-size:large ;font-family:'Times New Roman';">News</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="advices.html" style=" font-size:large ;font-family:'Times New Roman';">Advices</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="insructors.html" style=" font-size:large ;font-family:'Times New Roman';">Instructors</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="aboutus.html" style="font-size:large ;font-family:'Times New Roman';">About us</a>

            </td>
            <td> </td>
        </tr>
    </table>
    <hr><br><br>
    <center>
        <table width="80%">
            <td width="40%" colspan="2">
                <center>
                    <h1 style="color: darkblue;">List Of Instruct(አስጠኚ )</h1>
            </td>
    </center>
    <td width="50%"></td>
    </tr>
    <tr width="80%">
        <td width="30%">
            <pre>
                    <img  width="300"src="../../../Resources/images/banners/instuctor1.png" alt="photo of the Instruct">
                </pre>
            <ul>
                <li>
                    <h4> Instructs Name :Azimeraw Taddese</h4>
                </li>
                <li><b>Universtity</b>:AASTU<br></li>
                <li><b>Department</b>:Software Engineering<br></li>
                <li><b>Bach:</b> 3<sup>rd</sup> year</li>



                <li><b>course he Instruct</b></li>
                <ul>
                    <li>Maths</li>
                    <li>Physics</li>
                    <li>Biology</li>
                    <li>Chemesity</li>
                    <li>ICT</li>
                </ul>


            </ul>
            <h3>Contac at</h3>

            <table>
                <tr>
                    <td>
                        <address><a href="tel:+251-946238635"> <img width="50"
                                    src="../../../Resources/images/banners/phone_longo.jfif" alt="Call"></a></address>
                    </td>
                    <td>
                        <address><a href="https://telegram.me/tarmanau/+251-946238635"> <img width="50"
                                    src="../../../Resources/images/banners/\telegrame_logo.png" alt="Telegrame"></a>
                        </address>
                    </td>
                    <td>
                        <address><a href="https://facebook.com\azime"> <img width="50"
                                    src="../../../Resources/images/banners/fb_logo.jfif" alt="facebook"></a></address>
                    </td>
                    <td>
                        <address><a href="mailto:azimerawtaddese75@gmail.com"> <img width="50"
                                    src="../../../Resources/images/banners/email_logo.jfif" alt="Email"></a></address>
                    </td>
                </tr>
            </table>




        </td>

        <td width="60%">
            <pre>
                    <img  width="300"src="../../../Resources/images/banners/instuctor2.png" alt="photo of the Instruct">
                </pre>
            <ul>
                <li>
                    <h4> Instructs Name :Bahiru yimolal</h4>
                </li>
                <li><b>Universtity</b>:AASTU<br></li>
                <li><b>Department</b>:Software Engineering<br></li>
                <li><b>Bach:</b> 3<sup>rd</sup> year</li>



                <li><b>course he Instruct</b></li>
                <ul>
                    <li>English</li>
                    <li>Maths</li>
                    <li>Physics</li>
                    <li>Biology</li>
                    <li>Chemesity</li>
                    <li>ICT</li>
                </ul>


            </ul>
            <h3>Contac at</h3>

            <table>
                <tr>
                    <td>
                        <address><a href="tel:+251-961098262"> <img width="50"
                                    src="../../../Resources/images/banners/phone_longo.jfif" alt="Call"></a></address>
                    </td>
                    <td>
                        <address><a href="https://telegram.me/tarmanau/+251-961098262"> <img width="50"
                                    src="../../../Resources/images/banners/telegrame_logo.png" alt="Telegrame"></a>
                        </address>
                    </td>
                    <td>
                        <address><a href="https://facebook.com/abusha debusha"> <img width="50"
                                    src="../../../Resources/images/banners/fb_logo.jfif" alt="facebook"></a></address>
                    </td>
                    <td>
                        <address><a href="mailto:bahirul2010@gmail.com"> <img width="50"
                                    src="../../../Resources/images/banners/email_logo.jfif" alt="Email"></a></address>
                    </td>
                </tr>
            </table>



        </td>
    </tr>
    <tr width="80%">
        <td width="40%">
            <ul>
                <li>
                    <h4> Instructs Name :Bantemlak Gezahegn</h4>
                </li>
                <li><b>Universtity</b>:AASTU<br></li>
                <li><b>Department</b>:Software Engineering<br></li>
                <li><b>Bach:</b> 3<sup>rd</sup> year</li>



                <li><b>course he Instruct</b></li>
                <ul>
                    <li>Maths</li>
                    <li>English</li>
                    <li>Physics</li>
                    <li>Biology</li>
                    <li>Chemesity</li>
                    <li>ICT</li>
                </ul>


            </ul>
            <h3>Contac at</h3>

            <table>
                <tr>
                    <td>
                        <address><a href="tel:+251 92 064 42945"> <img width="50"
                                    src="../../../Resources/images/banners/phone_longo.jfif" alt="Call"></a></address>
                    </td>
                    <td>
                        <address><a href="https://telegram.me/tarmanau/@Bantheman"> <img width="50"
                                    src="../../../Resources/images/banners/telegrame_logo.png" alt="Telegrame"></a>
                        </address>
                    </td>
                    <td>
                        <address><a href="https://facebook.com/Bantemlak gezahegn"> <img width="50"
                                    src="../../../Resources/images/banners/fb_logo.jfif" alt="facebook"></a></address>
                    </td>
                    <td>
                        <address><a href="mailto:bante2021@gmail.com"> <img width="50"
                                    src="../../../Resources/images/banners/email_logo.jfif" alt="Email"></a></address>
                    </td>
                </tr>
            </table>



        </td>
        <td width="60%">
            <ul>
                <li>
                    <h4> Instructs Name :Bedane Deriba</h4>
                </li>
                <li><b>Universtity</b>:AASTU<br></li>
                <li><b>Department</b>:Software Engineering<br></li>
                <li><b>Bach:</b> 3<sup>rd</sup> year</li>



                <li><b>course he Instruct</b></li>
                <ul>
                    <li>Maths</li>
                    <li>Physics</li>
                    <li>Biology</li>
                    <li>Chemesity</li>
                    <li>ICT</li>
                </ul>


            </ul>
            <h3>Contac at</h3>

            <table>
                <tr>
                    <td>
                        <address><a href="tel:+251 98 2159 193"> <img width="50"
                                    src="../../../Resources/images/banners/phone_longo.jfif" alt="Call"></a></address>
                    </td>
                    <td>
                        <address><a href="https://telegram.me/tarmanau/+251 98 2159 193"> <img width="50"
                                    src="../../../Resources/images/banners/telegrame_logo.png" alt="Telegrame"></a>
                        </address>
                    </td>
                    <td>
                        <address><a href="https://facebook.com/belaynehGetachew"> <img width="50"
                                    src="../../../Resources/images/banners/fb_logo.jfif" alt="facebook"></a></address>
                    </td>
                    <td>
                        <address><a href="mailto:belaynehGetachew@gmail.com"> <img width="50"
                                    src="../../../Resources/images/banners/email_logo.jfif" alt="Email"></a></address>
                    </td>
                </tr>
            </table>




        </td>
    </tr>
    </td>

    <tr>
        <p>
            <td width="60%">
                <ul>
                    <li>
                        <h4> Instructs Name :Belayneh Getachew</h4>
                    </li>
                    <li><b>Universtity</b>:AASTU<br></li>
                    <li><b>Department</b>:Software Engineering<br></li>
                    <li><b>Bach:</b> 3<sup>rd</sup> year</li>



                    <li><b>course he Instruct</b></li>
                    <ul>
                        <li>Maths</li>
                        <li>Physics</li>
                        <li>Biology</li>
                        <li>Chemesity</li>
                        <li>ICT</li>
                    </ul>


                </ul>
                <h3>Contac at</h3>

                <table>
                    <tr width=80%>
                        <td width=50%>
                            <address><a href="tel:+251 943088231"> <img width="50"
                                        src="../../../Resources/images/banners/phone_longo.jfif" alt="Call"></a>
                            </address>
                        </td>
                        <td>
                            <address><a href="https://telegram.me/+251 943088231"> <img width="50"
                                        src="../../../Resources/images/banners/telegrame_logo.png" alt="Telegrame"></a>
                            </address>
                        </td>
                        <td>
                            <address><a href="https://facebook.com/bedameDeroba"> <img width="50"
                                        src="../../../Resources/images/banners/fb_logo.jfif" alt="facebook"></a>
                            </address>
                        </td>
                        <td>
                            <address><a href="mailto:bedaneDeriba@gmail.com"> <img width="50"
                                        src="../../../Resources/images/banners/email_logo.jfif" alt="Email"></a>
                            </address>
                        </td>

                    </tr>
                </table>





            </td>
            <td width=30%> <img src="../../../Resources/images/banners/instuctor.png" width="450" alt="photo of study">
            </td>
    </tr>
    </p>
</table>

    </center>
    <table width="100%" background="../../../Resources/images/banners/home_background1.jpg">
        <tr>
            <td width="40%">OUR SERVICES
            </td>
            <td width="30%">
            </td>
            <td width="30%">CONTACT
            </td>
        </tr>
        <tr>
            <td>
                <br>Information about Universities<br>

                Textbooks and referencebooks<br>

                Advices from experianced studets<br>

                Contact University students<br>

                Entrance Exams<br>

            </td>
            <td>
                <br> <br>

                <a href="aboutus.html" style="font-size:large ;font-family:'Times New Roman';">About Us</a>
            </td>
            <td>
                <br>Mob: +251-961098262, +251-946238635<br>
                E-mail: MCP@gmail.com<br>
                P.O.Box:---- <br>
                Location:Addis,Ababa,Ethiopia<br>
                <a href="contactus.html" style=" font-size:large ;font-family:'Times New Roman', serif;">Contact
                    us</a><br>


            </td>
        </tr>



    </table><br>
</body>

</html>