<!DOCTYPE html>

<html lang="en">


<head>
    <meta name="author" content="Azimerw taddese,Bahiru yimola,Banteamlak Gezahegn,Bedane Deriba,Belayneh Getachew">
    <meta name="discription" content="Matric and college preparation system">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UX-Compatible" content="ie=edge">
    <title>Matric and college preparation system</title>
</head>



<body>

    <p>
    <table style="width:100%" background="../../../Resources/images/banners/home_background1.jpg">

        <tr width="100%">
            <td width="20%"><img src="../../../Resources/images/banners/logo.PNG" alt="website logo" width="200"
                    height="auto"></td>
            <td width="75%" style="font-size:xx-large ;font-family:'Times New Roman';">
                <marquee behavior="scroll" width=80%>Matric And College preparation system</marquee>
            </td>
            <td><a href="login.html" style="font-size: x-large;font-family:'Times New Roman';">Login</a></td>
        </tr>
        <tr>
            <td></td>
            <td> <a href="home.html" style="font-size:large ;font-family:'Times New Roman';">Home</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="turorian.html" style="font-size:large ;font-family:'Times New Roman';">Books</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="turorian.html" style="font-size:large ;font-family:'Times New Roman';">Exams</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="univeristy.html" style="font-size:large ;font-family:'Times New Roman';">Universities</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="news.html" style="font-size:large ;font-family:'Times New Roman';">News</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="advices.html" style=" font-size:large ;font-family:'Times New Roman';">Advices</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="insructors.html" style=" font-size:large ;font-family:'Times New Roman';">Instructors</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="aboutus.html" style="font-size:large ;font-family:'Times New Roman';">About us</a>

            </td>
            <td> </td>
        </tr>
    </table>
    <hr>
    <table width="80%">
    <tr>
        <td width="30%"> </td>
        <td width="50%"style="font-family:'Times New Roman';"><h1>Breaking news</h1></td>
    </tr>
    <td width="30"></td>
    <td>  <p>
       <h3>ለተከበራችሁ የ2013 የዩኒቨርሲቲ መግቢያ ፈተና ተፈታኝ ተማሪዎች</h3>
       <img src="../../../Resources/images/banners/grade_12.jpg"  width="70%" height="auto" alt="grade_12 students"><br>
       የሀገር አቀፍ የትምህርት ምዘናና ፈተናዎች ኤጀንሲ የሕዝብ ግንኙነት ዳይሬክተር ረዲ ሽፋ "ፈተናው ገና እየታረመ" መሆኑን ገልጸዋል።የፈተናው ውጤት የሚገለጽበት ጊዜ አለመወሰኑንም ነግረውናል።
       "የፈተናው ውጤት በዚህ ቀን ይገለጻል ተብሎ የተቀመጠ ቀነ ገደብ የለም። ስለዚህ በዚህ ቀን ይፋ ይደረጋል ልንል አንችልም" ብለዋል ዳይሬክተሩ።የጸጥታ ችግር ባለባቸው አካባቢዎች ለፈተናው ያልተቀመጡ ተማሪዎች ከአንድ ወር በኋላ ፈተናውን እንዲወስዱ ይደረጋል ተብሎ የነበረ ቢሆንም አሁን ባለው ሁኔታ ፈተናውን መስጠት እንደማይቻል ገልጸዋል።
       አካባቢዎቹ ገና እየተረጋጉ መሆኑን የገለጹት ኃላፊው ተማሪዎቹ ፈተናውን ለመውሰድ በስነ ልቦና መዘጋጀት እንደሚያስፈልጋቸው ጠቁመዋል።
       <table width="100%">
           <tr>
        <td width="60%">
        <h3>Some Tips regarding the to National exams</h3></td>
        <td width="40%"><img src="../../../Resources/images/banners/tips.jpg"  width="70%" height="auto" alt="tips"><br><br></td>
        </tr>
    </table>
        Preparatory secondary education has two tracks called a natural science stream and a social science stream, which include the following subjects:<br>
        <b>Natural science stream</b><br>
        <ul>
        <li>specific subjects: biology, chemistry, mathematics, physics.</li>
         <li>general subjects: social studies, English, physical education.</a></li>
         <li>optional subjects: foreign language, the national language.</li></ul>
        <b>Social science stream</b><br>
        <ul>
        <li>specific subjects: social studies, geography, history.</li>
         <li>general subjects: English, mathematics, physical education.</a></li>
         <li>optional subjects: foreign language, the national language, natural sciences..</li></ul>

        <b>How to check Grade 12 Result 2020:</b><br>
        The National Examination Agency (NEA) allows students to access Ethiopia Student Result online. As a result, the grade 12 exam result can also be checked online.<br>
        <ul>
         <li>Switch on your laptop or mobile and connect to the Internet.</li>
         <li>Open a web browser and type <a href="http://www.neaeagovet.com/www-neaea-gov-et/">ww.neaea.gov.et</a></li>
         <li>Check the main menu and click on Student Result.</li>
         <li>Now select Grade 12</li>
         <li>Enter “Student Registration Number”</li>
         <li>Finally, click on GO.</li>



        </ul>

        
        All the students can check the top breaking news from Matric and College preparation System website. As soon as we received any updates or breaking news we will update in this page. On an important note, students must check the official website www.neaea.gov.et</p></td>
    <tr>
    



    </table>
    <hr>
    <table width="100%" background="../../../Resources/images/banners/home_background1.jpg">
        <tr>
            <td width="40%">OUR SERVICES
            </td>
            <td width="30%">
            </td>
            <td width="30%">CONTACT
            </td>
        </tr>
        <tr>
            <td>
                <br>Information about Universities<br>

                Textbooks and referencebooks<br>

                Advices from experianced studets<br>

                Contact University students<br>

                Entrance Exams<br>

            </td>
            <td>
                <br> <br>

                <a href="aboutus.html" style="font-size:large ;font-family:'Times New Roman';">About Us</a>
            </td>
            <td>
                <br>Mob: +251-961098262, +251-946238635<br>
                E-mail: MCP@gmail.com<br>
                P.O.Box:---- <br>
                Location:Addis,Ababa,Ethiopia<br>
                <a href="contactus.html" style=" font-size:large ;font-family:'Times New Roman', serif;">Contact
                    us</a><br>


            </td>
        </tr>



    </table>
</body>

</html>