<!DOCTYPE html>

<html lang="en">


<head>
    <meta name="author" content="Azimerw taddese,Bahiru yimola,Banteamlak Gezahegn,Bedane Deriba,Belayneh Getachew">
    <meta name="discription" content="Matric and college preparation system">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UX-Compatible" content="ie=edge">
    <title>universities</title>
</head>



<body>

    <p>
    <table style="width:100%" background="../../../Resources/images/banners/home_background1.jpg">

        <tr width="100%">
            <td width="20%"><img src="../../../Resources/images/banners/logo.PNG" alt="website logo" width="200"
                    height="auto"></td>
            <td width="75%" style="font-size:xx-large ;font-family:'Times New Roman';">
                <marquee behavior="scroll" width=80%>Matric And College preparation system</marquee>
            </td>
            <td><a href="login.html" style="font-size: x-large;font-family:'Times New Roman';">Login</a></td>
        </tr>
        <tr>
            <td></td>
            <td> <a href="home.html" style="font-size:large ;font-family:'Times New Roman';">Home</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="comingsoon.html" style="font-size:large ;font-family:'Times New Roman';">Books</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="comingsoon.html" style="font-size:large ;font-family:'Times New Roman';">Exams</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="univeristy.html" style="font-size:large ;font-family:'Times New Roman';">Universities</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="news.html" style="font-size:large ;font-family:'Times New Roman';">News</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="advices.html" style=" font-size:large ;font-family:'Times New Roman';">Advices</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="insructors.html" style=" font-size:large ;font-family:'Times New Roman';">Instructors</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="aboutus.html" style="font-size:large ;font-family:'Times New Roman';">About us</a>

            </td>
            <td> </td>
        </tr>
    </table>
    <hr><br><br>
<center>
    <h2>Lists of all universities in ethiopia</h2>
    <table border="1">
        <thead>
            <tr>
                <th>No</th>
                <th>Name</th>
                <th>Acronym</th>
                <th>MCP Info</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>Addis Ababa Science and Technology University</td>
            <td>AASTU</td>
            <td><a href="addis_ababa_science_and_technology_university.html"> MCP Info about Addis Ababa Science and Tchenology University</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Adama science & technology University</td>
            <td>ASTU</td>
            <td><a href="adama_science_and_technology_university.html"> MCP Info about Adam Science and Tchenology University</a></td>
        </tr>
        <tr>
            <td>3</td>
            <td>Addis Ababa University</td>
            <td>AAU</td>
            <td><a href="addis_ababa_university.html"> MCP Info about Addis Ababa University</a></td>
        </tr>
        <tr>
            <td>4</td>
            <td>Adigrat University</td>
            <td>AGU</td>
            <td><a href="adigrat_university.html"> MCP Info about Adigrat University</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Ambo University</td>
            <td>AMU</td>
            <td><a href="ambo_university.html"> MCP Info about Ambo University</a></td>
        </tr>
        <tr>
            <td>6</td>
            <td>Arba Minch University</td>
            <td>ARU</td>
            <td><a href="arbaminch_university.html"> MCP Info about Arba Minch University</a></td>
        </tr>
        <tr>
            <td>7</td>
            <td>Arsi University</td>
            <td>ARU</td>
            <td><a href="addis_ababa_university.html"> MCP Info about Arsi University</a></td>
        </tr> <tr>
            <td>8</td>
            <td>ASOSSA UNIVERSITY</td>
            <td>ASU</td>
            <td><a href="comingsoon.html"> MCP Info about Asossa University</a></td>
        </tr> <tr>
            <td>9</td>
            <td>Axum University</td>
            <td>AXU</td>
            <td><a href="comingsoon.html"> MCP Info about Axum University</a></td>
        </tr> <tr>
            <td>10</td>
            <td>Bahir Dar University</td>
            <td>BDU</td>
            <td><a href="bahirdar_university.html"> MCP Info about Bahirdar University</a></td>
        </tr> <tr>
            <td>11</td>
            <td>BONGA UNIVERSITY</td>
            <td>BU</td>
            <td><a href="comingsoon.html"> MCP Info about Bonga University</a></td>
        </tr> <tr>
            <td>12</td>
            <td>BULE HORRA UNIVERSITY</td>
            <td>BHU</td>
            <td><a href="comingsoon.html"> MCP Info about Bule Horra University</a></td>
        </tr> <tr>
            <td>13</td>
            <td>DEBARK UNIVERSITY</td>
            <td>DKU</td>
            <td><a href="comingsoon.html"> MCP Info about Debark University</a></td>
        </tr> <tr>
            <td>14</td>
            <td>Debrebirhan University</td>
            <td>DBU</td>
            <td><a href="comingsoon.html"> MCP Info about Debrebirhan University</a></td>
        </tr> <tr>
            <td>15</td>
            <td>Debremarkos University</td>
            <td>DMU</td>
            <td><a href="comingsoon.html"> MCP Info about Debremarkos University</a></td>
        </tr> <tr>
            <td>16</td>
            <td>DEBRETABOR UNIVERSITY</td>
            <td>DBTU</td>
            <td><a href="comingsoon.html"> MCP Info about Debretabor University</a></td>
        </tr> <tr>
            <td>17</td>
            <td>DEMBI DOLO UNIVERSITY</td>
            <td>DeDU</td>
            <td><a href="comingsoon.html"> MCP Info about Dembi Dolo University</a></td>
        </tr> <tr>
            <td>18</td>
            <td>Dilla University</td>
            <td>DU</td>
            <td><a href="comingsoon.html"> MCP Info about Dilla University</a></td>
        </tr> <tr>
            <td>19</td>
            <td>Dire Dawa University</td>
            <td>DDU</td>
            <td><a href="comingsoon.html"> MCP Info about Dire Dewa Addis Ababa University</a></td>
        </tr> <tr>
            <td>20</td>
            <td>Gambella University</td>
            <td>GMU</td>
            <td><a href="comingsoon.html"> MCP Info about Gambella University</a></td>
        </tr> <tr>
            <td>21</td>
            <td>Gondar University</td>
            <td>GU</td>
            <td><a href="comingsoon.html"> MCP Info about Gonder University</a></td>
        </tr> <tr>
            <td>22</td>
            <td>Haramaya University</td>
            <td>HRU</td>
            <td><a href="comingsoon.html"> MCP Info about Haramaya University</a></td>
        </tr> <tr>
            <td>23</td>
            <td>Hawassa University</td>
            <td>HWU</td>
            <td><a href="comingsoon.html"> MCP Info about Hawassa University</a></td>
        </tr> <tr>
            <td>24</td>
            <td>INJIBARA UNIVERSITY</td>
            <td>IU</td>
            <td><a href="comingsoon.html"> MCP Info about Injibara University</a></td>
        </tr> <tr>
            <td>25</td>
            <td>Jigjiga University</td>
            <td>JGU</td>
            <td><a href="comingsoon.html"> MCP Info about Jigjiga University</a></td>
        </tr> <tr>
            <td>26</td>
            <td>Jimma University</td>
            <td>JU</td>
            <td><a href="comingsoon.html"> MCP Info about Jimma University</a></td>
        </tr> <tr>
            <td>27</td>
            <td>JINKA UNIVERSITY</td>
            <td>JNU</td>
            <td><a href="comingsoon.html"> MCP Info about Jinka University</a></td>
        </tr> <tr>
            <td>28</td>
            <td>KEBRI DEHAR UNIVERSITY</td>
            <td>KDU</td>
            <td><a href="comingsoon.html"> MCP Info about Kebri Dehar University</a></td>
        </tr> <tr>
            <td>29</td>
            <td>Kotebe Metropolitan University</td>
            <td>KMU</td>
            <td><a href="comingsoon.html"> MCP Info about Kotebe Metropolitan University</a></td>
        </tr> <tr>
            <td>30</td>
            <td>Meda Welabu University</td>
            <td>MWU</td>
            <td><a href="comingsoon.html"> MCP Info about Meda Welabu University</a></td>
        </tr> <tr>
            <td>31</td>
            <td>Mekelle University</td>
            <td>MU</td>
            <td><a href="comingsoon.html"> MCP Info about Mekelle University</a></td>
        </tr> <tr>
            <td>32</td>
            <td>MEKIDELA AMBA UNIVERSITY</td>
            <td>MAU</td>
            <td><a href="comingsoon.html"> MCP Info about Mekidela Amba University</a></td>
        </tr> <tr>
            <td>33</td>
            <td>METU UNIVERSITY</td>
            <td>MEU</td>
            <td><a href="comingsoon.html"> MCP Info about Metu University</a></td>
        </tr> <tr>
            <td>34</td>
            <td>Mizan-Tepi University</td>
            <td>MTU</td>
            <td><a href="comingsoon.html"> MCP Info about Mizan-Tepi University</a></td>
        </tr> <tr>
            <td>35</td>
            <td>Oda Bultum</td>
            <td>OBU</td>
            <td><a href="comingsoon.html"> MCP Info about Oda Bultum University</a></td>
        </tr> <tr>
            <td>36</td>
            <td>RAYA UNIVERSITY</td>
            <td>RU</td>
            <td><a href="comingsoon.html"> MCP Info about Raya University</a></td>
        </tr> <tr>
            <td>37</td>
            <td>Selale University</td>
            <td>SLU</td>
            <td><a href="comingsoon.html"> MCP Info about Selale University</a></td>
        </tr> <tr>
            <td>38</td>
            <td>Semera University</td>
            <td>SU</td>
            <td><a href="comingsoon.html"> MCP Info about Semera University</a></td>
        </tr> <tr>
            <td>39</td>
            <td>WACHAMO UNIVERSITY</td>
            <td>WCU</td>
            <td><a href="comingsoon.html"> MCP Info about Wachamo University</a></td>
        </tr> <tr>
            <td>40</td>
            <td>Welketie UNIVERSITY</td>
            <td>WKU</td>
            <td><a href="comingsoon.html"> MCP Info about Welketie University</a></td>
        </tr> <tr>
            <td>41</td>
            <td>WERABE UNIVERSITY</td>
            <td>WRU</td>
            <td><a href="comingsoon.html"> MCP Info about Werabe University</a></td>
        </tr> <tr>
            <td>42</td>
            <td>Wolayita Sodo University</td>
            <td>WSU</td>
            <td><a href="comingsoon.html"> MCP Info about Wolayita Sodo University</a></td>
        </tr> <tr>
            <td>43</td>
            <td>Woldiya University</td>
            <td>WDU</td>
            <td><a href="comingsoon.html"> MCP Info about Woldiya University</a></td>
        </tr> <tr>
            <td>44</td>
            <td>Wollega University</td>
            <td>WU</td>
            <td><a href="comingsoon.html"> MCP Info about Wollega University</a></td>
        </tr> <tr>
        </tr> 
        </tr>


        </tbody>



    </table>

</center>



    <hr>
    <table width="100%" background="../../../Resources/images/banners/home_background1.jpg">
        <tr>
            <td width="40%">OUR SERVICES
            </td>
            <td width="30%">
            </td>
            <td width="30%">CONTACT
            </td>
        </tr>
        <tr>
            <td>
                <br>Information about Universities<br>

                Textbooks and referencebooks<br>

                Advices from experianced studets<br>

                Contact University students<br>

                Entrance Exams<br>

            </td>
            <td>
                <br> <br>

                <a href="aboutus.html" style="font-size:large ;font-family:'Times New Roman';">About Us</a>
            </td>
            <td>
                <br>Mob: +251-961098262, +251-946238635<br>
                E-mail: MCP@gmail.com<br>
                P.O.Box:---- <br>
                Location:Addis,Ababa,Ethiopia<br>
                <a href="contactus.html" style=" font-size:large ;font-family:'Times New Roman', serif;">Contact
                    us</a><br>


            </td>
        </tr>



    </table><br>
</body>

</html>