<!DOCTYPE html>

<html lang="en">

<head>
    <meta name="author" content="Azimerw taddese,Bahiru yimola,Banteamlak Gezahegn,Bedane Deriba,Belayneh Getachew">
    <meta name="discription" content="Matric and college preparation system">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UX-Compatible" content="ie=edge">
    <title>Adigrat university</title>
    <link rel="stylesheet" type="text/css" href="../../../Resources/css/home_page.css">
   
</head>

<body>
    <div class="wrapper">

        <div class="header">
            <div class="logopart">
                <img src="../../../Resources/images/banners/logo.PNG" alt="website logo" width="210" height="auto">
            </div>
            <div class="navi">
                <div class="login">
                    <a href="login.html" style="float: right">Login</a>

                </div>
                <div class="display">
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <marquee behavior="scroll" width=80% style="font-size:50px ;font-family:'Times New Roman'">Matric
                        And College preparation system</marquee>

                </div>
                <div class="choice">
                    <br>
                    <br>
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="home.html" class="anc">Home</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="comingsoon.html" class="anc">Books</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="comingsoon.html" class="anc">Exams</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="univeristy.html" class="anc">Universities</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="news.html" class="anc">News</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="advices.html" class="anc">Advices</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="insructors.html" class="anc">Instructors</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="aboutus.html" class="anc">About us</a>
                </div>

            </div>
        </div>
    
        <center>
        </p>
        <P>
        <table width="80%>">
            <tr>
                <td width="30%">
                    <h1 style="color: darkslategrey;">Adigrat university</h1>
                    <img src="../../../Resources/images/banners/Adigirat_logo.jfif" width="290" height="auto">
                    <br><br><b>Type</b>-National<br><br>
        
                    <b>Established</b>-2011<br><br>
        
        
                    <b>President</b>-Dr. Zaid Negash<br><br>
                    <b>Students </b> 14,000+ (2013/14)<br><br>
                    <b>Location</b>
                    <address>-Adigrat, Ethiopia</address>
                    <br><br>
                    <b>Temperature</b>- 12.5<sup>&#176;</sup>C to 24.4<sup>&#176;</sup>C <br><br>
                    <b>Campus</b>- urban<br><br>
                    <b>Language</b>- English<br><br>
                    <b>Website</b>- <a href="http://www.adu.edu.et">www.adu.edu.et</a><br><br>
        
        
        
        
                </td>
                <td width="50%" height="100%">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img
                        src="../../../Resources/images/banners/adigigrate_photo.jfif" width="400" height="auto"><br>
                    &nbsp;&nbsp;&nbsp;<h3>Adigrat University</h3>
                    <p>
                    <blockquote> <b>Adigrat University</b> Adama Science and
                        Adigrat University (Tigrinya: ዓዲግራት ዩኒቨርሲቲ) is a residential national university in Adigrat, Tigray
                        Region,
                        Ethiopia. It is approximately 900 kilometres (560 mi) north of Addis Ababa, Ethiopia.[1][2] The
                        Ministry of
                        Education admits qualified students to Adigrat University based on their score on the Ethiopian
                        Higher
                        Education Entrance
                        Examination (EHEEE).[3] Facilities at the university's campuses were "completely destroyed" during
                        the</blockquote>
                    <hr>
                    <h3>Academics</h3>
                    <blockquote>
        
        
                        Adigrat University is among the institutions that don't provide data on acceptance rates.
                        This might happen because a university has programs
                        where an applicant only needs to meet admission requirements to enroll and doesn't necessarily
                        competes with others
                    </blockquote>
        
        
                    </ul>
        
                    <hr>
                    </p>
        
        
        
                </td>
        
        
        
        
            </tr>
            <tr>
                <td></td>
                <td>
                    <h3>Colleges</h3>
                    <ul>
        
                        <li>College of Engineering and Technology</li>
                        <li>College of Medicine and Health Science</li>
                        <li>College of Social Sciences and Humanities</li>
                        <li>College of Business and Economics</li>
                        <li>College of Natural and Computational Sciences</li>
                        <li>College of Agriculture and Environmental Sciences</li>
        
        
                    </ul>
                    <hr>
        
        
                    <p>
        
        
        
                    </p>
        
                    <br>
        
        
        
        
        
                </td>
        
        
        
            </tr>
        </table>
        
        </P>
        
        </center>

        
        <hr>
        <div class="footer">
            <div class="our_services">
                <h3 style="margin-left: 30px;">OUR SERVICES</h3>
                <p>
                    Information about Universities<br>

                    Textbooks and referencebooks<br>

                    Advices from experianced studets<br>

                    Contacts for University students<br>

                    Entrance Exams<br>
                </p>
            </div>
            <div class="about_as">
                <br><br><br>
                <h3 style="margin-left: 90px;" class="choice"><a href="aboutus.html" class="anc">ABOUT US</a></h3>
            </div>
            <div class="contact">
                <h3 >CONTACTS US</h3>
                <p>
                    Mob: +251-961098262, +251-946238635<br>
                    E-mail: MCP@gmail.com<br>
                    P.O.Box:---- <br>
                    Location:Addis,Ababa,Ethiopia<br>
                </p>
                <h3 class="choice"><a id="contact" href="contactus.html" class="anc">Contact us</a></h3><br><br>
            </div>
        </div>
    </div>

    </div>

</body>

</html>