<!DOCTYPE html>

<html lang="en">

<head>
    <meta name="author" content="Azimerw taddese,Bahiru yimola,Banteamlak Gezahegn,Bedane Deriba,Belayneh Getachew">
    <meta name="discription" content="Matric and college preparation system">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UX-Compatible" content="ie=edge">
    <title>Ambo university</title>
    <link rel="stylesheet" type="text/css" href="../../../Resources/css/home_page.css">
   
</head>

<body>
    <div class="wrapper">

        <div class="header">
            <div class="logopart">
                <img src="../../../Resources/images/banners/logo.PNG" alt="website logo" width="210" height="auto">
            </div>
            <div class="navi">
                <div class="login">
                    <a href="login.html" style="float: right">Login</a>

                </div>
                <div class="display">
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <marquee behavior="scroll" width=80% style="font-size:50px ;font-family:'Times New Roman'">Matric
                        And College preparation system</marquee>

                </div>
                <div class="choice">
                    <br>
                    <br>
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="home.html" class="anc">Home</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="comingsoon.html" class="anc">Books</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="comingsoon.html" class="anc">Exams</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="univeristy.html" class="anc">Universities</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="news.html" class="anc">News</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="advices.html" class="anc">Advices</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="insructors.html" class="anc">Instructors</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="aboutus.html" class="anc">About us</a>
                </div>

            </div>
        </div>
        <hr>



        <center>
        </table>
        <table width="80%>">
            <tr>
                <td width="30%">
                    <h1>Ambo University</h1>
                    <img src="../../../Resources/images/banners/ambo_logo.JFIF" width="200" height="auto">
                    <br><br><b>Type</b>-Public<br><br>
                    <b>Location</b> -Ambo, Ethiopia<br><br>
                    <b>Temperature</b>- 18°c / 64°f .<br><br>
                    <b>Language</b>- English<br><br>
                    <b>Website</b>- www.ambou.edu.et<br><br>
        
                </td>
                <td width="50%" height="100%">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img
                        src="../../../Resources/images/banners/ambo_photo.JFIF" width="500" height="auto"><br>
                    &nbsp;&nbsp;&nbsp;<h3>Ambo University</h3>
                    <p>
                        <b>Ambo University</b> (Amharic: አምቦ ዩኒቨርሲቲ; Oromo: Yunivarsiitii Amboo) is a university in Ambo, Oromia, Ethiopia. 
                        It is approximately 119 kilometres (74 mi) west of Addis Ababa, Ethiopia. The Ministry of Education admits
                         qualified students to Ambo University based on their score on the Ethiopian Higher Education Entrance Examination (EHEEE). Ambo University was established on 11 May 2011 by government 
                        proclamation (Council of Ministers 212/2011).</p><p>
                        It is one of the foremost higher learning institutions with significant contributions in the country's
                         overall development by building the capacity of development agents through short, medium and long term trainings in various fields since its establishment
                          in 1939. After passing through various developmental stages, it has recently become independent with a status of a university organized into five colleges, three institutes and 
                        two schools with 38 academic departments
                    <hr>
                    </p>
        
                </td>
        
            </tr>
            <tr><td></td>
            <td>
                <h3>Program and Courses</h3>
                <ul>
                    <li>Bachelor of Science in Accounting(Accounting)</li>
                    <li>Bachelor of Economics</li>
                    <li>bachelor of Marketing</li>s
                    <li>Bachelor of Law</li>
                    <li>Bachelor of Science Education (Physical Education)</li>
                    <li>Bachelor of Science in Statistics(Statistics)</li>
                    <li>Bachelor of Pharmacy(Pharmacy)</li>
                </ul>
                <hr>
                <h3>Faculties and Schools</h3>
                <ul>
                    <li> College of Social Sciences and Humanities.</li>
                    <li> College of Natural & Computational Sciences.</li>
                    <li> Colleges of Agriculture & Veterinary Sciences.</li>
                    <li> College of Business & Economics>.</li>
                    <li> College of Medicine & Health Sciences.</li>
                </ul><br>
        
        
        
        
        
            </td>
        
        
        
            </tr>
        </table>
        
        </center>

        <hr>
        <div class="footer">
            <div class="our_services">
                <h3 style="margin-left: 30px;">OUR SERVICES</h3>
                <p>
                    Information about Universities<br>

                    Textbooks and referencebooks<br>

                    Advices from experianced studets<br>

                    Contacts for University students<br>

                    Entrance Exams<br>
                </p>
            </div>
            <div class="about_as">
                <br><br><br>
                <h3 style="margin-left: 90px;" class="choice"><a href="aboutus.html" class="anc">ABOUT US</a></h3>
            </div>
            <div class="contact">
                <h3 >CONTACTS US</h3>
                <p>
                    Mob: +251-961098262, +251-946238635<br>
                    E-mail: MCP@gmail.com<br>
                    P.O.Box:---- <br>
                    Location:Addis,Ababa,Ethiopia<br>
                </p>
                <h3 class="choice"><a id="contact" href="contactus.html" class="anc">Contact us</a></h3><br><br>
            </div>
        </div>
    </div>

    </div>

</body>

</html>