<!DOCTYPE html>

<html lang="en">

<head>
    <meta name="author" content="Azimerw taddese,Bahiru yimola,Banteamlak Gezahegn,Bedane Deriba,Belayneh Getachew">
    <meta name="discription" content="Matric and college preparation system">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UX-Compatible" content="ie=edge">
    <title>Arba Minch University</title>
    <link rel="stylesheet" type="text/css" href="../../../Resources/css/home_page.css">
   
</head>

<body>
    <div class="wrapper">

        <div class="header">
            <div class="logopart">
                <img src="../../../Resources/images/banners/logo.PNG" alt="website logo" width="210" height="auto">
            </div>
            <div class="navi">
                <div class="login">
                    <a href="login.html" style="float: right">Login</a>

                </div>
                <div class="display">
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <marquee behavior="scroll" width=80% style="font-size:50px ;font-family:'Times New Roman'">Matric
                        And College preparation system</marquee>

                </div>
                <div class="choice">
                    <br>
                    <br>
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="home.html" class="anc">Home</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="comingsoon.html" class="anc">Books</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="comingsoon.html" class="anc">Exams</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="univeristy.html" class="anc">Universities</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="news.html" class="anc">News</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="advices.html" class="anc">Advices</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="insructors.html" class="anc">Instructors</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="aboutus.html" class="anc">About us</a>
                </div>

            </div>
        </div>
        <hr>

        <center>
        </table>
        <table width="80%>">
            <tr>
                <td width="30%">
                    <h1>Arba Minch University</h1>
                    <img src="../../../Resources/images/banners/Ariba_logo.gif" width="200" height="auto">
                    <br><br><b>Type</b>-Public<br><br>
                    <b>Established</b>- September 1986 <br><br>
                    <b>Students </b> 39,000 (2018)<br><br>
                    <b>Location</b> -Arba Minch, SNNPR, Ethiopia<br><br>
                    <b>Temperature</b>- www.amu.edu.et<br><br>
                    <b>Campus</b>- 6 campuses<br><br>
                    <b>Language</b>- English<br><br>
                    <b>Website</b>- www.amu.edu.et<br><br>
        
                </td>
                <td width="50%" height="100%">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img
                        src="../../../Resources/images/banners/ariba_photo.jfif" width="400" height="auto"><br>
                    &nbsp;&nbsp;&nbsp;<h3>Arba Minch University</h3>
                    <p>
                        <b>Arba Minch University</b> (Amharic: አርባ ምንጭ ዩኒቨርስቲ)  is a residential national university in Arba Minch, Southern Nations, Nationalities, 
                        and Peoples' Region, Ethiopia. It is approximately 435 kilometres (270 mi) south of Addis Ababa, Ethiopia. The Ministry of Education admits qualified 
                        students to Arba Minch University based on their score on the Ethiopian Higher Education Entrance Examination (EHEEE).
                        <hr>
                    <h3>Academics</h3>
                    The university runs 74 undergraduate programs, 83 graduate programs, and 13 PhD programs. AMU consists of two institutes, five colleges, and three schools 
                    which are situated across the university's six campuses: Main Campus, Abaya Campus, Chamo Campus, Kulfo Campus, and Nech Sar Campus, and Sawla Campus.
                    </ul>
        
                    <hr>
                    </p>
        
        
        
                </td>
        
        
        
        
            </tr>
            <tr>
                <td></td>
            <td>
                <h3>Institutes</h3>
                    <ul>
                        <li> Water Technology Institute</li>
                        <li> Institute of Technology</li>
                        
                    </ul>
                <hr>
                <h3>Colleges</h3>
                <ul>
                    <li> College of Natural Science</li>
                    <li> School of Archtecture and Economics</li>
                    <li> College of Medicine and Health Science</li>
                    <li> College of Social Science and Humanities</li>
                    <li> College of Agriculture Sciences</li>
                </ul>
                <hr>
                <h3>Schools</h3>
                <ul>
                    <li>School of Architecture and Urban Planning</li>
                </ul><br>
        
        
        
        
            </td>
        
        
        
            </tr>
        </table>
        </center>
        <hr>
        <div class="footer">
            <div class="our_services">
                <h3 style="margin-left: 30px;">OUR SERVICES</h3>
                <p>
                    Information about Universities<br>

                    Textbooks and referencebooks<br>

                    Advices from experianced studets<br>

                    Contacts for University students<br>

                    Entrance Exams<br>
                </p>
            </div>
            <div class="about_as">
                <br><br><br>
                <h3 style="margin-left: 90px;" class="choice"><a href="aboutus.html" class="anc">ABOUT US</a></h3>
            </div>
            <div class="contact">
                <h3 >CONTACTS US</h3>
                <p>
                    Mob: +251-961098262, +251-946238635<br>
                    E-mail: MCP@gmail.com<br>
                    P.O.Box:---- <br>
                    Location:Addis,Ababa,Ethiopia<br>
                </p>
                <h3 class="choice"><a id="contact" href="contactus.html" class="anc">Contact us</a></h3><br><br>
            </div>
        </div>
    </div>

    </div>

</body>

</html>