<!DOCTYPE html>

<html lang="en">

<head>
    <meta name="author" content="Azimerw taddese,Bahiru yimola,Banteamlak Gezahegn,Bedane Deriba,Belayneh Getachew">
    <meta name="discription" content="Matric and college preparation system">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UX-Compatible" content="ie=edge">
    <title>Matric And College preparation system</title>
    <link rel="stylesheet" type="text/css" href="../../../Resources/css/home_page.css">
    <link rel="stylesheet" type="text/css" href="../../../Resources/css/books.css">

</head>

<body>
    <div class="wrapper">

        <div class="header">
            <div class="logopart">
                <img src="../../../Resources/images/banners/logo.PNG" alt="website logo" width="210" height="auto">
            </div>
            <div class="navi">
                <div class="login">
                    <a href="login.html" style="float: right">Login</a>

                </div>
                <div class="display">
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <marquee behavior="scroll" width=80% style="font-size:50px ;font-family:'Times New Roman'">Matric
                        And College preparation system</marquee>

                </div>
                <div class="choice">
                    <br>
                    <br>
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="#home.html" class="anc">Home</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="comingsoon.html" class="anc">Books</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="comingsoon.html" class="anc">Exams</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="univeristy.html" class="anc">Universities</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="news.html" class="anc">News</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="advices.html" class="anc">Advices</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="insructors.html" class="anc">Instructors</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="aboutus.html" class="anc">About us</a>
                </div>

            </div>
        </div>
        <!-- content bar -->
        <div class="Grade_12">
            <div class="text_books">
                <img src="../../../Resources/images/banners/g_12bio.PNG" alt=" grade 12 biology text">
                <div class="download_text">
                    <a href="../../../Resources/pdfs/bio 12.pdf">download</a>
                </div>

            </div>
            <div class="text_books">
                <img src="../../../Resources/images/banners/g_12che.PNG" alt=" grade 12 biology text">
                <div class="download_text">
                    <a href="../../../Resources/pdfs/chemo 12.pdf">download</a>
                </div>

            </div>

            <div class="text_books">
                <img src="../../../Resources/images/banners/g_12civc.PNG" alt=" grade 12 biology text">
                <div class="download_text">
                    <a href="../../../Resources/pdfs/civ 12.pdf">download</a>
                </div>

            </div>
            <div class="text_books">
                <img src="../../../Resources/images/banners/g_12echo.PNG" alt=" grade 12 biology text">
                <div class="download_text">
                    <a href="../../../Resources/pdfs/eco 12.pdf">download</a>
                </div>

            </div>
            <div class="text_books">
                <img src="../../../Resources/images/banners/g_12eng.PNG" alt=" grade 12 biology text">
                <div class="download_text">
                    <a href="../../../Resources/pdfs/eng 12.pdf">download</a>
                </div>

            </div>
            <div class="text_books">
                <img src="../../../Resources/images/banners/g_12Gb.PNG" alt=" grade 12 biology text">
                <div class="download_text">
                    <a href="../../../Resources/pdfs/GM 12.pdf">download</a>
                </div>

            </div>
            <div class="text_books">
                <img src="../../../Resources/images/banners/g_12math.PNG" alt=" grade 12 biology text">
                <div class="download_text">
                    <a href="../../../Resources/pdfs/math 12.pdf">download</a>
                </div>

            </div>
            <div class="text_books">
                <img src="../../../Resources/images/banners/g_12goe.PNG" alt=" grade 12 biology text">
                <div class="download_text">
                    <a href="../../../Resources/pdfs/geo 12.pdf">download</a>
                </div>

            </div>
            <div class="text_books">
                <img src="../../../Resources/images/banners/g_12phy.PNG" alt=" grade 12 biology text">
                <div class="download_text">
                    <a href="../../../Resources/pdfs/phy 12.pdf">download</a>
                </div>

            </div>


        </div>

        <div class="Grade_11">
            <div class="text_books">
                <img src="../../../Resources/images/banners/g_11bio.PNG" alt=" grade 12 biology text">
                <div class="download_text">
                    <a href="../../../Resources/pdfs/bio 11.pdf">download</a>
                </div>

            </div>
            <div class="text_books">
                <img src="../../../Resources/images/banners/g_11che.PNG" alt=" grade 12 biology text">
                <div class="download_text">
                    <a href="../../../Resources/pdfs/chemo 11.pdf">download</a>
                </div>

            </div>

            <div class="text_books">
                <img src="../../../Resources/images/banners/g_11civic.PNG" alt=" grade 12 biology text">
                <div class="download_text">
                    <a href="../../../Resources/pdfs/civ 11.pdf">download</a>
                </div>

            </div>
            <div class="text_books">
                <img src="../../../Resources/images/banners/g_11echo.PNG" alt=" grade 12 biology text">
                <div class="download_text">
                    <a href="../../../Resources/pdfs/eco 11.pdf">download</a>
                </div>

            </div>
            <div class="text_books">
                <img src="../../../Resources/images/banners/g_11eng.PNG" alt=" grade 12 biology text">
                <div class="download_text">
                    <a href="../../../Resources/pdfs/eng 11.pdf">download</a>
                </div>

            </div>
            <div class="text_books">
                <img src="../../../Resources/images/banners/g_11Gb.PNG" alt=" grade 12 biology text">
                <div class="download_text">
                    <a href="../../../Resources/pdfs/GM 11.pdf">download</a>
                </div>

            </div>
            <div class="text_books">
                <img src="../../../Resources/images/banners/g_11Math.PNG" alt=" grade 12 biology text">
                <div class="download_text">
                    <a href="../../../Resources/pdfs/math 11.pdf">download</a>
                </div>

            </div>
            <div class="text_books">
                <img src="../../../Resources/images/banners/g_11goe.PNG" alt=" grade 12 biology text">
                <div class="download_text">
                    <a href="../../../Resources/pdfs/geo 11.pdf">download</a>
                </div>

            </div>
            <div class="text_books">
                <img src="../../../Resources/images/banners/g_11His.PNG" alt=" grade 12 biology text">
                <div class="download_text">
                    <a href="../../../Resources/pdfs/his 11.pdf">download</a>
                </div>

            </div>


        </div>


    <hr>
    <div class="footer">
        <div class="our_services">
            <h3 style="margin-left: 30px;">OUR SERVICES</h3>
            <p>
                Information about Universities<br>

                Textbooks and referencebooks<br>

                Advices from experianced studets<br>

                Contacts for University students<br>

                Entrance Exams<br>
            </p>
        </div>
        <div class="about_as">
            <br><br><br>
            <h3 style="margin-left: 90px;" class="choice"><a href="aboutus.html" class="anc">ABOUT US</a></h3>
        </div>
        <div class="contact">
            <h3>CONTACTS US</h3>
            <p>
                Mob: +251-961098262, +251-946238635<br>
                E-mail: MCP@gmail.com<br>
                P.O.Box:---- <br>
                Location:Addis,Ababa,Ethiopia<br>
            </p>
            <h3 class="choice"><a id="contact" href="contactus.html" class="anc">Contact us</a></h3><br><br>
        </div>
    </div>
    </div>

    

</body>
  
</html>