<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="free student assistance">
    <meta name="keywords" content="HTML, CSS, JS">
    <meta name="author" content="Belayneh, Bahiru, azimeraw, Bantamlak, Bedane">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> MCP </title>
    <link rel="stylesheet" href="../../../Resources/css/login.css">
</head>

<body background="../../../Resources/images/banners/reg_background.jpg">
    <P>
    <form id="login" action="new.html" method="post">
        <img src="../../../Resources/images/banners/logo.png" alt="logo" width="15%" height="auto">
        <marquee behavior="scroll" width=70% loop=50 style=" font-size:xx-large">Matric And College preparation system
        </marquee>


        </P>
        <div class="login_box">
            <P>
            <h1>login here</h1>
            </P>
            <div class="password_username">
                <form action="" class="pass_user">

                    <div class="input_box"><input type="text" name="username*" id="username"
                            placeholder="Email/UserName" required></div>

                    <div class="input_box"><input type="password" name="password" id="password" class="pass"
                            placeholder="password" required></div>
                    <div class="loginbutton">

                        <input type="reset" name="reset" id="reset">

                    </div>
                    <div class="loginbutton">
                        <input type="submit" name="login" id="login" value="login">


                    </div>
                    <div class="createNew">
                        Don't have an account?<a href="create.html">Create new account</a>


                        <p id="new">
                            <a href="forgot.html">Forgot password/User name?</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>


</body>

</html>