<!DOCTYPE html>

<html lang="en">

<head>
    <meta name="author" content="Azimerw taddese,Bahiru yimola,Banteamlak Gezahegn,Bedane Deriba,Belayneh Getachew">
    <meta name="discription" content="Matric and college preparation system">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UX-Compatible" content="ie=edge">
    <title>Comment Section</title>
    <link rel="stylesheet" type="text/css" href="../../../Resources/css/home_page.css">

</head>

<body>
    <div class="wrapper">

        <div class="header">
            <div class="logopart">
                <img src="../../../Resources/images/banners/logo.PNG" alt="website logo" width="210" height="auto">
            </div>
            <div class="navi">
                <div class="login">
                    <a href="login.html" style="float: right">Login</a>

                </div>
                <div class="display">
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <marquee behavior="scroll" width=80% style="font-size:50px ;font-family:'Times New Roman'">Matric
                        And College preparation system</marquee>

                </div>
                <div class="choice">
                    <br>
                    <br>
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="home.html" class="anc">Home</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="univeristy.html" class="anc">Universities</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="news.html" class="anc">News</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="advices.html" class="anc">Advices</a>

                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="aboutus.html" class="anc">About us</a>
                </div>

            </div>
        </div>
        <hr>
        <center>
            <h2>Comment Section</h2>
            <pre>

                    <form>
                        <label for="email"><b style="color: black; ">Email address:</b></label><input  style="height: max-content;" cols="5"  type="email"  id =" email"name=email placeholder="name@domain.com"  size="40" required>
                    
                        <textarea  name="comment " placeholder="Type here" rows="15" cols="70" value="Type your comment here" required>
                
                        </textarea>
                        <input type="submit" name="submit" value="Send">
                    </form>
                    <h4>Thank You Very Much for Your Comment and Support!!!!</h4>
                </pre>


        </center>
    </div>
    <hr>
    <div class="footer">
        <div class="our_services">
            <h3 style="margin-left: 30px;">OUR SERVICES</h3>
            <p>
                Information about Universities<br>

                Textbooks and referencebooks<br>

                Advices from experianced studets<br>

                Contacts for University students<br>

                Entrance Exams<br>
            </p>
        </div>
        <div class="about_as">
            <br><br><br>
            <h3 style="margin-left: 90px;" class="choice"><a href="aboutus.html" class="anc">ABOUT US</a></h3>
        </div>
        <div class="contact">
            <h3>CONTACTS US</h3>
            <p>
                Mob: +251-961098262, +251-946238635<br>
                E-mail: MCP@gmail.com<br>
                P.O.Box:---- <br>
                Location:Addis,Ababa,Ethiopia<br>
            </p>
            <h3 class="choice"><a id="contact" href="contactus.html" class="anc">Contact us</a></h3><br><br>
        </div>
    </div>
    </div>

    </div>

</body>

</html>