<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="free student assistance">
    <meta name="keywords" content="HTML, CSS, JS">
    <meta name="author" content="Belayneh, Bahiru, azimeraw, Bantamlak, Bedane">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> MCP </title>

    <link rel="stylesheet" href="../../../Resources/css/login.css">
    <scriptr scr="../../../Resources/JS/login.js"></script>
</head>

<body background="../../../Resources/images/banners/reg_background.jpg">
    <P>
    <form id="login" action="new.html" method="post">
        <img src="../../../Resources/images/banners/logo.png" alt="logo" width="15%" height="auto">
        <marquee behavior="scroll" width=70% loop=50 style=" font-size:xx-large">Matric And College preparation system
        </marquee>


        </P>
        <div class="login_box">
            <P>
            <h1>Sign Up here
            </h1>
            </P>
            <div class="password_username">
                <form action="welcome.html" class="pass_user" name="registration" onsubmit="return formValidation()">

                    <div class="input_box"><input type="text" name="First name" id="firstname" placeholder="First name">
                    </div>
                    <label id="errfname" style="color: red; visibility: hidden;"> invalid</label>
                    <div class="input_box"><input type="text" name="lastname*" id="lastname" placeholder="Last name"
                            required>

                    </div>
                    <label id="errlname" style="color: red; visibility: hidden;"> invalid</label>


                    <div id="input_box">
                        Date of birth:
                        <input type="date" id="date" name="date" required>

                    </div>
                     <label id="errlname" style="color: red; visibility: hidden;"> your must be greater than 18</label>

                    <div>
                        Gender:<input type="radio" id="gender" name="gender">male <input type="radio" id="male"
                            name="female" selected>female
                    </div>


                    <div class="input_box">
                        <input type="email" id="email" name="email" placeholder="Email " required>
                        <label id="errEmail" style="color: red; visibility: hidden;"> invlid email or not filled</label>


                    </div>
                    <div class="input_box">
                        <input type="password" id="password" name="password" placeholder="Password" minlength="8"
                            maxlength="12" required>
                    </div>
                    <label id="errpass" style="color: red; visibility: hidden;"> invalid </label>

                    <div class="input_box">
                        <input type="password" id="confimpassword" name="password" placeholder="confimpassword"
                            minlength="8" maxlength="16" required>
                        <label id="errCon" style="color: red; visibility: hidden;"> password is not the same </label>

                    </div>
                    <div class="loginbutton">
                        <input type="submit" name="Sign Up" id="sign up" value="Sign Up">
                        <input type="reset" name="reset" id="reset">

                    </div>



                </form>



            </div>
        </div>

       
</body>

</html>